{%- capture icon_class -%}icon icon--{{ icon }}{%- endcapture -%}

{%- case icon -%}
  {%- comment -%} SOCIAL MEDIA {%- endcomment -%}

  {%- when 'facebook' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 30 30">
      <path d="M15 30C6.71572875 30 0 23.2842712 0 15 0 6.71572875 6.71572875 0 15 0c8.2842712 0 15 6.71572875 15 15 0 8.2842712-6.7157288 15-15 15zm3.2142857-17.1429611h-2.1428678v-2.1425646c0-.5852979.8203285-1.07160109 1.0714928-1.07160109h1.071375v-2.1428925h-2.1428678c-2.3564786 0-3.2142536 1.98610393-3.2142536 3.21449359v2.1425646h-1.0714822l.0032143 2.1528011 1.0682679-.0099086v7.499969h3.2142536v-7.499969h2.1428678v-2.1428925z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'fancy' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 30 30">
      <path d="M15 30C6.71572875 30 0 23.2842712 0 15 0 6.71572875 6.71572875 0 15 0c8.2842712 0 15 6.71572875 15 15 0 8.2842712-6.7157288 15-15 15zm4.1684083-11.0747664c.6609783 0 1.1940254-.5340454 1.1886949-1.1962616v-5.9332444c0-2.96395189-2.3987118-5.36715617-5.357123-5.36715617-2.9584112 0-5.35712306 2.40320428-5.35712306 5.36715617v5.9385848c0 .6568758.53304706 1.1909212 1.18869496 1.1909212h2.8091581v3.2843792c0 .753004.6076736 1.3618158 1.35927 1.3618158.7515964 0 1.35927-.6088118 1.35927-1.3618158v-3.2843792h2.8091581z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'instagram' -%}
    <svg class="{{ icon_class }}" role="presentation" viewBox="0 0 30 30">
      <path d="M15 30C6.71572875 30 0 23.2842712 0 15 0 6.71572875 6.71572875 0 15 0c8.2842712 0 15 6.71572875 15 15 0 8.2842712-6.7157288 15-15 15zm.0000159-23.03571429c-2.1823849 0-2.4560363.00925037-3.3131306.0483571-.8553081.03901103-1.4394529.17486384-1.9505835.37352345-.52841925.20532625-.9765517.48009406-1.42331254.926823-.44672894.44676084-.72149675.89489329-.926823 1.42331254-.19865961.5111306-.33451242 1.0952754-.37352345 1.9505835-.03910673.8570943-.0483571 1.1307457-.0483571 3.3131306 0 2.1823531.00925037 2.4560045.0483571 3.3130988.03901103.8553081.17486384 1.4394529.37352345 1.9505835.20532625.5284193.48009406.9765517.926823 1.4233125.44676084.446729.89489329.7214968 1.42331254.9268549.5111306.1986278 1.0952754.3344806 1.9505835.3734916.8570943.0391067 1.1307457.0483571 3.3131306.0483571 2.1823531 0 2.4560045-.0092504 3.3130988-.0483571.8553081-.039011 1.4394529-.1748638 1.9505835-.3734916.5284193-.2053581.9765517-.4801259 1.4233125-.9268549.446729-.4467608.7214968-.8948932.9268549-1.4233125.1986278-.5111306.3344806-1.0952754.3734916-1.9505835.0391067-.8570943.0483571-1.1307457.0483571-3.3130988 0-2.1823849-.0092504-2.4560363-.0483571-3.3131306-.039011-.8553081-.1748638-1.4394529-.3734916-1.9505835-.2053581-.52841925-.4801259-.9765517-.9268549-1.42331254-.4467608-.44672894-.8948932-.72149675-1.4233125-.926823-.5111306-.19865961-1.0952754-.33451242-1.9505835-.37352345-.8570943-.03910673-1.1307457-.0483571-3.3130988-.0483571zm0 1.44787387c2.1456068 0 2.3997686.00819774 3.2471022.04685789.7834742.03572556 1.2089592.1666342 1.4921162.27668167.3750864.14577303.6427729.31990322.9239522.60111439.2812111.28117926.4553413.54886575.6011144.92395217.1100474.283157.2409561.708642.2766816 1.4921162.0386602.8473336.0468579 1.1014954.0468579 3.247134 0 2.1456068-.0081977 2.3997686-.0468579 3.2471022-.0357255.7834742-.1666342 1.2089592-.2766816 1.4921162-.1457731.3750864-.3199033.6427729-.6011144.9239522-.2811793.2812111-.5488658.4553413-.9239522.6011144-.283157.1100474-.708642.2409561-1.4921162.2766816-.847206.0386602-1.1013359.0468579-3.2471022.0468579-2.1457981 0-2.3998961-.0081977-3.247134-.0468579-.7834742-.0357255-1.2089592-.1666342-1.4921162-.2766816-.37508642-.1457731-.64277291-.3199033-.92395217-.6011144-.28117927-.2811793-.45534136-.5488658-.60111439-.9239522-.11004747-.283157-.24095611-.708642-.27668167-1.4921162-.03866015-.8473336-.04685789-1.1014954-.04685789-3.2471022 0-2.1456386.00819774-2.3998004.04685789-3.247134.03572556-.7834742.1666342-1.2089592.27668167-1.4921162.14577303-.37508642.31990322-.64277291.60111439-.92395217.28117926-.28121117.54886575-.45534136.92395217-.60111439.283157-.11004747.708642-.24095611 1.4921162-.27668167.8473336-.03866015 1.1014954-.04685789 3.247134-.04685789zm0 9.26641182c-1.479357 0-2.6785873-1.1992303-2.6785873-2.6785555 0-1.479357 1.1992303-2.6785873 2.6785873-2.6785873 1.4793252 0 2.6785555 1.1992303 2.6785555 2.6785873 0 1.4793252-1.1992303 2.6785555-2.6785555 2.6785555zm0-6.8050167c-2.2790034 0-4.1264612 1.8474578-4.1264612 4.1264612 0 2.2789716 1.8474578 4.1264294 4.1264612 4.1264294 2.2789716 0 4.1264294-1.8474578 4.1264294-4.1264294 0-2.2790034-1.8474578-4.1264612-4.1264294-4.1264612zm5.2537621-.1630297c0-.532566-.431737-.96430298-.964303-.96430298-.532534 0-.964271.43173698-.964271.96430298 0 .5325659.431737.964271.964271.964271.532566 0 .964303-.4317051.964303-.964271z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'pinterest' -%}
    <svg class="{{ icon_class }}" role="presentation" viewBox="0 0 30 30">
      <path d="M15 30C6.71572875 30 0 23.2842712 0 15 0 6.71572875 6.71572875 0 15 0c8.2842712 0 15 6.71572875 15 15 0 8.2842712-6.7157288 15-15 15zm-.4492946-22.49876954c-.3287968.04238918-.6577148.08477836-.9865116.12714793-.619603.15784625-1.2950238.30765013-1.7959124.60980792-1.3367356.80672832-2.26284291 1.74754848-2.88355361 3.27881599-.1001431.247352-.10374313.4870343-.17702448.7625149-.47574032 1.7840923.36779138 3.6310327 1.39120339 4.2696951.1968419.1231267.6448551.3405257.8093833.0511377.0909873-.1603963.0706852-.3734014.1265202-.5593764.036883-.1231267.1532436-.3547666.1263818-.508219-.0455542-.260514-.316041-.4256572-.4299438-.635367-.230748-.4253041-.2421365-.8027267-.3541701-1.3723228.0084116-.0763633.0168405-.1527266.0253733-.2290899.0340445-.6372108.1384107-1.0968422.3287968-1.5502554.5593198-1.3317775 1.4578212-2.07273488 2.9088231-2.5163011.324591-.09899963 1.2400541-.25867013 1.7200175-.1523539.2867042.05078464.5734084.10156927.8600087.1523539 1.0390064.33760307 1.7953931.9602003 2.2007079 1.9316992.252902.6061594.3275507 1.7651044.1517724 2.5415071-.0833199.3679287-.0705641.6832289-.1770418 1.0168107-.3936666 1.2334841-.9709174 2.3763639-2.2765854 2.6942337-.8613761.2093567-1.5070793-.3321303-1.7200175-.8896824-.0589159-.1545509-.1598205-.4285603-.1011297-.6865243.2277711-1.0010987.5562045-1.8969797.8093661-2.8969995.24115-.9528838-.2166421-1.7048063-.9358863-1.8809146-.8949186-.2192233-1.585328.6350139-1.8211644 1.1943903-.1872881.4442919-.3005678 1.2641823-.1517724 1.8557085.0471811.1874265.2666617.689447.2276672.8640842-.1728187.7731269-.3685356 1.6039823-.5818373 2.3635745-.2219729.7906632-.3415527 1.5999416-.5564641 2.3639276-.098793.3507651-.0955738.7263439-.1770244 1.092821v.5337977c-.0739045.3379758-.0194367.9375444.0505042 1.2703809.0449484.2137505-.0261175.4786388.0758948.6357396.0020943.1140055.0159752.1388388.0506254.2031582.3168026-.0095136.7526829-.8673992.9106342-1.118027.3008274-.477913.5797431-.990879.8093833-1.5506281.2069844-.5042174.2391769-1.0621226.4046917-1.60104.1195798-.3894861.2889369-.843272.328918-1.2707535h.0252521c.065614.2342095.3033024.403727.4805692.5334446.5563429.4077482 1.5137774.7873678 2.5547742.5337977 1.1769151-.2868184 2.1141687-.8571599 2.7317812-1.702982.4549537-.6225776.7983583-1.3445472 1.0624066-2.1600633.1297394-.4011574.156982-.8454494.2529193-1.2711066.2405269-1.0661438-.0797199-2.3511383-.3794396-3.0497261-.9078995-2.11694836-2.8374975-3.32410832-5.918897-3.27881604z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'tumblr' -%}
    <svg class="{{ icon_class }}" role="presentation" viewBox="0 0 30 30">
      <path d="M15 30C6.71572875 30 0 23.2842712 0 15 0 6.71572875 6.71572875 0 15 0c8.2842712 0 15 6.71572875 15 15 0 8.2842712-6.7157288 15-15 15zm1.1783002-11.4407957v-4.4783544h3.1613924v-3.2363924h-3.1613924V6.42857143h-2.7094937c-.1253164 1.94449367-1.2170886 4.18993667-3.82594936 4.86759497v2.7846835h2.36962026v5.1431013c0 3.211519 1.9443038 4.5541139 4.5550633 4.5541139h2.8974683V20.36566h-1.5303797c-1.078481 0-1.7563291-.4640506-1.7563291-1.8064557z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'twitter' -%}
    <svg class="{{ icon_class }}" role="presentation" viewBox="0 0 30 30">
      <path d="M15 30C6.71572875 30 0 23.2842712 0 15 0 6.71572875 6.71572875 0 15 0c8.2842712 0 15 6.71572875 15 15 0 8.2842712-6.7157288 15-15 15zm3.4314771-20.35648929c-.134011.01468929-.2681239.02905715-.4022367.043425-.2602865.05139643-.5083383.11526429-.7319208.20275715-.9352275.36657324-1.5727317 1.05116784-1.86618 2.00016964-.1167278.3774214-.1643635 1.0083696-.0160821 1.3982464-.5276368-.0006268-1.0383364-.0756643-1.4800457-.1737-1.7415129-.3873214-2.8258768-.9100285-4.02996109-1.7609946-.35342035-.2497018-.70016357-.5329286-.981255-.8477679-.09067071-.1012178-.23357785-.1903178-.29762142-.3113357-.00537429-.0025553-.01072822-.0047893-.0161025-.0073446-.13989429.2340643-.27121822.4879125-.35394965.7752857-.32626393 1.1332446.18958607 2.0844643.73998215 2.7026518.16682678.187441.43731214.3036696.60328392.4783178h.01608215c-.12466715.041834-.34181679-.0159589-.45040179-.0360803-.25715143-.0482143-.476235-.0919607-.69177643-.1740215-.11255464-.0482142-.22521107-.09675-.3378675-.1449642-.00525214 1.251691.69448393 2.0653071 1.55247643 2.5503267.27968679.158384.67097143.3713625 1.07780893.391484-.2176789.1657285-1.14873321.0897268-1.47198429.0581143.40392643.9397285 1.02481929 1.5652607 2.09147249 1.9056375.2750861.0874928.6108975.1650857.981255.1593482-.1965482.2107446-.6162514.3825321-.8928439.528766-.57057.3017572-1.2328489.4971697-1.97873466.6450108-.2991075.0590785-.61700464.0469446-.94113107.0941946-.35834678.0520554-.73320321-.02745-1.0537875-.0364018.09657429.053325.19312822.1063286.28958036.1596536.2939775.1615821.60135.3033482.93309.4345875.59738036.2359768 1.23392786.4144661 1.93859037.5725286 1.4209286.3186642 3.4251707.175291 4.6653278-.1740215 3.4539354-.9723053 5.6357529-3.2426035 6.459179-6.586425.1416246-.5754053.162226-1.2283875.1527803-1.9126768.1716718-.1232517.3432215-.2465035.5148729-.3697553.4251996-.3074947.8236703-.7363286 1.118055-1.1591036v-.00765c-.5604729.1583679-1.1506672.4499036-1.8661597.4566054v-.0070232c.1397925-.0495.250515-.1545429.3619908-.2321358.5021089-.3493285.8288003-.8100964 1.0697678-1.39826246-.1366982.06769286-.2734778.13506429-.4101761.20275716-.4218407.1938214-1.1381067.4719375-1.689256.5144143-.6491893-.5345357-1.3289754-.95506074-2.6061215-.93461789z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'blog' -%}
    <svg class="{{ icon_class }}" role="presentation" viewBox="0 0 30 30">
      <path d="M15 30C6.71572875 30 0 23.2842712 0 15 0 6.71572875 6.71572875 0 15 0c8.2842712 0 15 6.71572875 15 15 0 8.2842712-6.7157288 15-15 15zm3.4314771-20.35648929c-.134011.01468929-.2681239.02905715-.4022367.043425-.2602865.05139643-.5083383.11526429-.7319208.20275715-.9352275.36657324-1.5727317 1.05116784-1.86618 2.00016964-.1167278.3774214-.1643635 1.0083696-.0160821 1.3982464-.5276368-.0006268-1.0383364-.0756643-1.4800457-.1737-1.7415129-.3873214-2.8258768-.9100285-4.02996109-1.7609946-.35342035-.2497018-.70016357-.5329286-.981255-.8477679-.09067071-.1012178-.23357785-.1903178-.29762142-.3113357-.00537429-.0025553-.01072822-.0047893-.0161025-.0073446-.13989429.2340643-.27121822.4879125-.35394965.7752857-.32626393 1.1332446.18958607 2.0844643.73998215 2.7026518.16682678.187441.43731214.3036696.60328392.4783178h.01608215c-.12466715.041834-.34181679-.0159589-.45040179-.0360803-.25715143-.0482143-.476235-.0919607-.69177643-.1740215-.11255464-.0482142-.22521107-.09675-.3378675-.1449642-.00525214 1.251691.69448393 2.0653071 1.55247643 2.5503267.27968679.158384.67097143.3713625 1.07780893.391484-.2176789.1657285-1.14873321.0897268-1.47198429.0581143.40392643.9397285 1.02481929 1.5652607 2.09147249 1.9056375.2750861.0874928.6108975.1650857.981255.1593482-.1965482.2107446-.6162514.3825321-.8928439.528766-.57057.3017572-1.2328489.4971697-1.97873466.6450108-.2991075.0590785-.61700464.0469446-.94113107.0941946-.35834678.0520554-.73320321-.02745-1.0537875-.0364018.09657429.053325.19312822.1063286.28958036.1596536.2939775.1615821.60135.3033482.93309.4345875.59738036.2359768 1.23392786.4144661 1.93859037.5725286 1.4209286.3186642 3.4251707.175291 4.6653278-.1740215 3.4539354-.9723053 5.6357529-3.2426035 6.459179-6.586425.1416246-.5754053.162226-1.2283875.1527803-1.9126768.1716718-.1232517.3432215-.2465035.5148729-.3697553.4251996-.3074947.8236703-.7363286 1.118055-1.1591036v-.00765c-.5604729.1583679-1.1506672.4499036-1.8661597.4566054v-.0070232c.1397925-.0495.250515-.1545429.3619908-.2321358.5021089-.3493285.8288003-.8100964 1.0697678-1.39826246-.1366982.06769286-.2734778.13506429-.4101761.20275716-.4218407.1938214-1.1381067.4719375-1.689256.5144143-.6491893-.5345357-1.3289754-.95506074-2.6061215-.93461789z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'vimeo' -%}
    <svg class="{{ icon_class }}" role="presentation" viewBox="0 0 30 30">
      <path d="M15 30C6.71572875 30 0 23.2842712 0 15 0 6.71572875 6.71572875 0 15 0c8.2842712 0 15 6.71572875 15 15 0 8.2842712-6.7157288 15-15 15zm8.4984219-19.7085695c.1279451-.72836318.1250897-1.47714262-.3181629-2.04341742-.6185142-.79416419-1.9349475-.82327113-2.836953-.68325434-.7336784.11394469-3.2153494 1.22469857-4.0598409 3.88418986 1.4961816-.1153242 2.2801678.1093924 2.1363146 1.7806273-.0605053.6992563-.4084451 1.4654171-.797039 2.1997121-.4488273.8465842-1.2904635 2.5091284-2.3938363 1.3107778-.9941912-1.07875-.9194093-3.1412042-1.1467463-4.5146103-.1264494-.7707131-.2603769-1.7311041-.5091967-2.52375087-.2144201-.68159897-.706349-1.50335268-1.3077313-1.681443-.6459796-.19271276-1.4445142.10801295-1.9134647.38832243-1.49332637.89031365-2.63137079 2.15722414-3.92319397 3.20231504v.0978048c.256026.2481677.32509728.6553889.70199801.7108439.8890887.1328435 1.73657149-.8407905 2.32775633.1721585.35963291.6189708.47194172 1.2976729.70213393 1.9647874.3078295.8887962.545228 1.8566364.797039 2.8782761.4258489 1.7311041.9494581 4.3176212 2.424157 4.9509385.7523059.3241768 1.88328-.1093924 2.4557014-.4538475 1.5509764-.9312841 2.7594518-2.281377 3.7938893-3.654921 2.3651473-3.2504588 3.6700233-6.9331072 3.8671755-7.9855093z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'youtube' -%}
    <svg class="{{ icon_class }}" role="presentation" viewBox="0 0 30 30">
      <path d="M15 30c8.2842712 0 15-6.7157288 15-15 0-8.28427125-6.7157288-15-15-15C6.71572875 0 0 6.71572875 0 15c0 8.2842712 6.71572875 15 15 15zm7.6656364-18.7823145C23 12.443121 23 15 23 15s0 2.5567903-.3343636 3.7824032c-.184.6760565-.7260909 1.208492-1.4145455 1.3892823C20.0033636 20.5 15 20.5 15 20.5s-5.00336364 0-6.25109091-.3283145c-.68836364-.1807903-1.23054545-.7132258-1.41454545-1.3892823C7 17.5567903 7 15 7 15s0-2.556879.33436364-3.7823145c.184-.6761452.72618181-1.2085807 1.41454545-1.38928227C9.99663636 9.5 15 9.5 15 9.5s5.0033636 0 6.2510909.32840323c.6884546.18070157 1.2305455.71313707 1.4145455 1.38928227zm-9.302 6.103758l4.1818181-2.3213548-4.1818181-2.3215322v4.642887z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'linkedin' -%}
    <svg class="{{ icon_class }}" role="presentation" viewBox="0 0 30 30">
      <path d="M15 30C6.71572875 30 0 23.2842712 0 15 0 6.71572875 6.71572875 0 15 0c8.2842712 0 15 6.71572875 15 15 0 8.2842712-6.7157288 15-15 15zM10.2456033 7.5c-.92709386 0-1.67417473.75112475-1.67417473 1.67662742 0 .92604418.74708087 1.67716898 1.67417473 1.67716898.9233098 0 1.6730935-.7511248 1.6730935-1.67716898C11.9186968 8.25112475 11.1689131 7.5 10.2456033 7.5zM8.80063428 21.4285714h2.88885682v-9.3037658H8.80063428v9.3037658zm4.69979822-9.3037658v9.3037658h2.8829104v-4.6015191c0-1.2141468.2292058-2.3898439 1.7309356-2.3898439 1.4811878 0 1.5001081 1.3879832 1.5001081 2.4667435v4.5246195H22.5V16.326122c0-2.5057349-.5400389-4.4320151-3.4618711-4.4320151-1.4044256 0-2.3466556.7711619-2.7315482 1.502791h-.0394623v-1.2720923h-2.7666859z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'snapchat' -%}
    <svg class="{{ icon_class }}" role="presentation" viewBox="0 0 30 30">
      <path d="M15 30C6.71572875 30 0 23.2842712 0 15 0 6.71572875 6.71572875 0 15 0c8.2842712 0 15 6.71572875 15 15 0 8.2842712-6.7157288 15-15 15zm.108159-7.5c1.0158803 0 1.6676384-.460207 2.2992458-.906347.4344332-.3067145.8448697-.5961158 1.3282714-.6766223.236284-.0390629.4714304-.0588649.6986682-.0588649.3891482 0 .6949848.0490721.9677785.1023644.1538392.0301899.2752313.0454472.3605471.0454472h.0200424c.1230172 0 .196145-.0548613.2304879-.1720501.0398141-.1350972.0687402-.2634856.0972871-.3942545.0785446-.3592493.1295716-.5305961.2612016-.5507768 1.611303-.2486611 2.0719538-.5870804 2.1741702-.8257864.0147881-.0339231.0232384-.0688201.0252968-.1035006.0050377-.0924093-.0602898-.1738897-.1517266-.1889846-2.4772443-.4077263-3.5866198-2.9346989-3.6327174-3.0419326-.0011375-.0031381-.0026543-.0060056-.0040085-.0089813-.1515099-.3069309-.1812485-.5730134-.0884033-.79116.1698189-.3999354.7238025-.5755563 1.0910665-.6919336.0900826-.0285668.1751816-.0555646.241755-.0816968.6423328-.2534222.7732586-.5109564.7700085-.6823031-.0034668-.181897-.1664064-.3560031-.415095-.44403l-.0053085-.0021641c-.0875909-.0365201-.1930574-.0566467-.2971155-.0566467-.0681443 0-.1681939.008873-.2583307.0509117-.3074617.143862-.5876223.221501-.8313816.2308068h-.0003792c-.3207872-.0122816-.4628176-.1488937-.4805308-.1669102.0082879-.1513825.0181466-.3095279.0283845-.4722181l.0030876-.0508035c.0738319-1.1683718.1654854-2.62251986-.2049745-3.45225589-1.1106214-2.48726036-3.4696695-2.68073558-4.1662794-2.68073558l-.0411682.00016231s-.2868776.00308392-.3046991.00308392c-.6949848 0-3.0488868.1930965-4.1589124 2.67900426-.3703516.8293032-.2789689 2.28215278-.2052453 3.45144438.0114296.1803821.0225883.3551915.0315804.5225887-.0189049.0194773-.17334.1679923-.5271701.1679923-.25605558 0-.55284604-.0780718-.88213773-.2321594-.05660632-.0264027-.12393805-.0399287-.20037013-.0399287-.27880644 0-.62359039.1795706-.67266726.4372129-.02870942.1512202.03217623.4479255.76421241.736948.06711506.0265109.15221413.0533464.24197171.0816968.36683062.116215.9210309.2919982 1.0909582.6919877.0927368.2182548.0630524.4845537-.0885117.7912682-.0013542.0029757-.0027085.0058432-.0039543.008819-.0460976.1073419-1.15644821 2.6350178-3.63255493 3.0423113-.09138264.0148785-.1569268.0964671-.15167243.1888223.00195007.0340854.01023788.0685495.02480927.1029054.10275808.2404374.56378812.5792895 2.17454941.8277883.13818443.0212087.18931971.2237193.26130994.5531033.0278969.1279555.05693134.2602393.09712453.3968514.04615176.1576585.15248497.1788672.25058454.1788672.0938744 0 .21743327-.0240762.36065539-.0520478.23568813-.0460424.55847958-.1091274.96767018-.1091274.2271836 0 .4622217.019802.6983432.0588649.4839434.0805065.8946507.3704488 1.3298964.6776502.6303074.4451121 1.2821738.9053191 2.2977291.9053191.0289261 0 .0579064-.0011903.0855325-.0033003h.0001083c.0433892.0020559.0868325.0033003.13098.0033003z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'email' -%}
    <svg class="{{ icon_class }}" role="presentation" viewBox="0 0 28 28">
      <path d="M14 28C6.2680135 28 0 21.7319865 0 14S6.2680135 0 14 0s14 6.2680135 14 14-6.2680135 14-14 14zm-3.2379501-18h6.4759002L14 12.6982917 10.7620499 10zM19 11.1350416V18H9v-6.8649584l5 4.1666667 5-4.1666667zM21 8H7v12h14V8z"></path>
    </svg>

  {%- when 'rss' -%}
    <svg class="{{ icon_class }}" role="presentation" viewBox="0 0 30 30">
      <path d="M15 30c8.2842712 0 15-6.7157288 15-15 0-8.28427125-6.7157288-15-15-15C6.71572875 0 0 6.71572875 0 15c0 8.2842712 6.71572875 15 15 15zm-1.8733929-11.3828571c0 .9610714-.78 1.74-1.7416071 1.74-.9621429 0-1.74214286-.7789286-1.74214286-1.74 0-.9610715.77999996-1.74 1.74214286-1.74.9616071.0005357 1.7416071.7789285 1.7416071 1.74zm-3.48374996-6.735v2.5773214c3.24107146.0332143 5.87142856 2.6603571 5.90464286 5.8976786h2.5805357c-.0332143-4.6660715-3.8132143-8.4417858-8.48517856-8.475zm0-1.8042858C15.3107143 10.1025 19.9028571 14.6817857 19.9194643 20.3571429H22.5C22.4839286 13.2691071 16.7383929 7.52464286 9.64285714 7.5v2.5778571z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- comment -%} UI {%- endcomment -%}

  {%- when 'arrow-left' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 8 12" role="presentation">
      <path stroke="currentColor" stroke-width="2" d="M6 10L2 6l4-4" fill="none" stroke-linecap="square"></path>
    </svg>

  {%- when 'arrow-right' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 8 12" role="presentation">
      <path stroke="currentColor" stroke-width="2" d="M2 2l4 4-4 4" fill="none" stroke-linecap="square"></path>
    </svg>

  {%- when 'arrow-bottom' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 12 8" role="presentation">
      <path stroke="currentColor" stroke-width="2" d="M10 2L6 6 2 2" fill="none" stroke-linecap="square"></path>
    </svg>

  {%- when 'tail-right' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 24 24" role="presentation">
      <path fill="currentColor" d="M22.707 11.293L15 3.586 13.586 5l6 6H2c-.553 0-1 .448-1 1s.447 1 1 1h17.586l-6 6L15 20.414l7.707-7.707c.391-.391.391-1.023 0-1.414z"></path>
    </svg>

  {%- when 'tail-left' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 24 24" role="presentation">
      <path fill="currentColor" d="M1.293 11.293L9 3.586 10.414 5l-6 6H22c.553 0 1 .448 1 1s-.447 1-1 1H4.414l6 6L9 20.414l-7.707-7.707c-.391-.391-.391-1.023 0-1.414z"></path>
    </svg>

  {%- when 'search' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 21 21" role="presentation">
      <g stroke-width="2" stroke="currentColor" fill="none" fill-rule="evenodd">
        <path d="M19 19l-5-5" stroke-linecap="square"></path>
        <circle cx="8.5" cy="8.5" r="7.5"></circle>
      </g>
    </svg>

  {%- when 'hamburger' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 20 14" role="presentation">
      <path d="M0 12h20v2H0v-2zM0 0h20v2H0V0zm0 6h20v2H0V6z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'hamburger-mobile' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 20 16" role="presentation">
      <path d="M0 14h20v2H0v-2zM0 0h20v2H0V0zm0 7h20v2H0V7z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'cart' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 27 24" role="presentation">
      <g transform="translate(0 1)" stroke-width="2" stroke="currentColor" fill="none" fill-rule="evenodd">
        <circle stroke-linecap="square" cx="11" cy="20" r="2"></circle>
        <circle stroke-linecap="square" cx="22" cy="20" r="2"></circle>
        <path d="M7.31 5h18.27l-1.44 10H9.78L6.22 0H0"></path>
      </g>
    </svg>

  {%- when 'big-cart' -%}
    <svg width="81" height="70" viewBox="0 0 81 70">
      <g transform="translate(0 2)" stroke-width="4" stroke="{{ settings.heading_color }}" fill="none" fill-rule="evenodd">
        <circle stroke-linecap="square" cx="34" cy="60" r="6"></circle>
        <circle stroke-linecap="square" cx="67" cy="60" r="6"></circle>
        <path d="M22.9360352 15h54.8070373l-4.3391876 30H30.3387146L19.6676025 0H.99560547"></path>
      </g>
    </svg>

  {%- when 'account' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 20 22" role="presentation">
      <path d="M10 13c2.82 0 5.33.64 6.98 1.2A3 3 0 0 1 19 17.02V21H1v-3.97a3 3 0 0 1 2.03-2.84A22.35 22.35 0 0 1 10 13zm0 0c-2.76 0-5-3.24-5-6V6a5 5 0 0 1 10 0v1c0 2.76-2.24 6-5 6z" stroke="currentColor" stroke-width="2" fill="none"></path>
    </svg>

  {%- when 'heart' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 17 15" role="presentation">
      <path d="M15.0349331 1.40485867C14.1287273.49933787 12.9252477 0 11.6443673 0S9.16000731.49933787 8.25448651 1.40417371c-.01164437.01164436-.02328874.02328873-.03493311.03561806-.01164436-.01232933-.02260377-.02328873-.03424813-.0349331C7.2790995.49933787 6.07561989 0 4.79473949 0 3.51385908 0 2.31037947.49933787 1.40417371 1.40485867.49796794 2.31037947 0 3.51385908 0 4.79473949 0 6.07561989.4986529 7.2790995 1.40417371 8.1846203L8.2195534 15l6.8153797-6.8153797c.9055208-.9055208 1.4041737-2.10900041 1.4041737-3.38988081 0-1.28019545-.4986529-2.48436002-1.4041737-3.38988082z"></path>
    </svg>

  {%- when 'play' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 80 80" role="presentation">
      <circle cx="40" cy="40" r="40" fill="{{ settings.accent_color }}" fill-rule="evenodd"></circle>
      <path fill="{{ settings.secondary_background }}" fill-rule="nonzero" d="M54 40L32 53V27z"></path>
    </svg>

  {%- when 'timer' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 20 20" role="presentation">
      <g stroke="currentColor" fill="none" fill-rule="evenodd">
        <circle cx="10" cy="10" r="9"></circle>
        <path stroke-linecap="square" d="M10 6.02856445V10l3.0130615 2.0200195"></path>
      </g>
    </svg>

  {%- when 'zoom' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 10 10" role="presentation">
      <path d="M7.58801492 6.8808396L9.999992 9.292784l-.70716.707208-2.41193007-2.41199543C6.15725808 8.15916409 5.24343297 8.50004 4.25 8.50004c-2.347188 0-4.249968-1.902876-4.249968-4.2501C.000032 1.902704 1.902812.000128 4.25.000128c2.347176 0 4.249956 1.902576 4.249956 4.249812 0 .99341752-.34083418 1.90724151-.91194108 2.6308996zM4.25.999992C2.455064.999992.999992 2.454944.999992 4.24994c0 1.794984 1.455072 3.249936 3.250008 3.249936 1.794924 0 3.249996-1.454952 3.249996-3.249936C7.499996 2.454944 6.044924.999992 4.25.999992z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'newsletter' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 20 17" role="presentation">
      <path d="M19.1666667 0H.83333333C.37333333 0 0 .37995 0 .85v15.3c0 .47005.37333333.85.83333333.85H19.1666667c.46 0 .8333333-.37995.8333333-.85V.85c0-.47005-.3733333-.85-.8333333-.85zM7.20975004 10.8719018L5.3023283 12.7794369c-.14877889.1487878-.34409888.2235631-.53941886.2235631-.19531999 0-.39063998-.0747753-.53941887-.2235631-.29832076-.2983385-.29832076-.7805633 0-1.0789018L6.1309123 9.793l1.07883774 1.0789018zm8.56950946 1.9075351c-.1487789.1487878-.3440989.2235631-.5394189.2235631-.19532 0-.39064-.0747753-.5394189-.2235631L12.793 10.8719018 13.8718377 9.793l1.9074218 1.9075351c.2983207.2983385.2983207.7805633 0 1.0789018zm.9639048-7.45186267l-6.1248086 5.44429317c-.1706197.1516625-.3946127.2278826-.6186057.2278826-.223993 0-.447986-.0762201-.61860567-.2278826l-6.1248086-5.44429317c-.34211431-.30410267-.34211431-.79564457 0-1.09974723.34211431-.30410267.89509703-.30410267 1.23721134 0L9.99975 9.1222466l5.5062029-4.8944196c.3421143-.30410267.8950971-.30410267 1.2372114 0 .3421143.30410266.3421143.79564456 0 1.09974723z" fill="currentColor"></path>
    </svg>

  {%- when 'close' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 19 19" role="presentation">
      <path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'nav-triangle' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 20 9" role="presentation">
      <g fill="none" fill-rule="evenodd">
        <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="{{ settings.secondary_background }}"></path>
        <path d="M-.00922471 9C1.38887087 7.61849126 4.26661926 4.80337304 8.62402045.5546454c.75993175-.7409708 1.98812015-.7393145 2.74596565.0037073L19.9800494 9h-1.3748787l-7.9226239-7.7676545c-.3789219-.3715101-.9930172-.3723389-1.3729808-.0018557-3.20734177 3.1273507-5.6127118 5.4776841-7.21584193 7.05073579C1.82769633 8.54226204 1.58379521 8.7818599 1.36203986 9H-.00922471z" fill="{{ settings.border_color }}"></path>
      </g>
    </svg>

  {%- when 'nav-triangle-borderless' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 20 9" role="presentation">
      <path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="{{ settings.secondary_background }}"></path>
    </svg>

  {%- when 'nav-triangle-left' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 9 20" role="presentation">
      <g fill="none">
        <path d="M9 19.52891062c-.26871321-.2694725-.56867841-.57077721-.89986354-.90388257-1.7387876-1.74886921-4.33675081-4.37290921-7.79359758-7.87182755-.4095171-.4145057-.40860098-1.0844277.00205122-1.4977971L9 .5064844v19.02242622z" fill="{{ settings.secondary_background }}"></path>
        <path d="M9 20.00922471c-1.38150874-1.39809558-4.19662696-4.27584397-8.4453546-8.63324516-.7409708-.75993175-.7393145-1.98812015.0037073-2.74596565L9 .0199506v1.3748787L1.2323455 9.3174532c-.3715101.3789219-.3723389.9930172-.0018557 1.3729808 3.1273507 3.20734177 5.4776841 5.6127118 7.05073579 7.21584193.26103645.26602774.50063431.50992886.71877441.73168421v1.37126457z" fill="{{ settings.border_color }}"></path>
      </g>
    </svg>

  {%- when 'grid' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 18 18" role="presentation">
      <path d="M1 .030067h2c.55228475 0 1 .44771525 1 1v2c0 .55228475-.44771525 1-1 1H1c-.55228475 0-1-.44771525-1-1v-2c0-.55228475.44771525-1 1-1zm0 7h2c.55228475 0 1 .44771525 1 1v2c0 .5522847-.44771525 1-1 1H1c-.55228475 0-1-.4477153-1-1v-2c0-.55228475.44771525-1 1-1zm0 7h2c.55228475 0 1 .4477153 1 1v2c0 .5522847-.44771525 1-1 1H1c-.55228475 0-1-.4477153-1-1v-2c0-.5522847.44771525-1 1-1zm7-14h2c.5522847 0 1 .44771525 1 1v2c0 .55228475-.4477153 1-1 1H8c-.55228475 0-1-.44771525-1-1v-2c0-.55228475.44771525-1 1-1zm0 7h2c.5522847 0 1 .44771525 1 1v2c0 .5522847-.4477153 1-1 1H8c-.55228475 0-1-.4477153-1-1v-2c0-.55228475.44771525-1 1-1zm0 7h2c.5522847 0 1 .4477153 1 1v2c0 .5522847-.4477153 1-1 1H8c-.55228475 0-1-.4477153-1-1v-2c0-.5522847.44771525-1 1-1zm7-14h2c.5522847 0 1 .44771525 1 1v2c0 .55228475-.4477153 1-1 1h-2c-.5522847 0-1-.44771525-1-1v-2c0-.55228475.4477153-1 1-1zm0 7h2c.5522847 0 1 .44771525 1 1v2c0 .5522847-.4477153 1-1 1h-2c-.5522847 0-1-.4477153-1-1v-2c0-.55228475.4477153-1 1-1zm0 7h2c.5522847 0 1 .4477153 1 1v2c0 .5522847-.4477153 1-1 1h-2c-.5522847 0-1-.4477153-1-1v-2c0-.5522847.4477153-1 1-1z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'list' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 18 18" role="presentation">
      <path d="M8 1.030067h9c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1H8c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 7h9c.5522847 0 1 .44771525 1 1s-.4477153 1-1 1H8c-.55228475 0-1-.44771525-1-1s.44771525-1 1-1zm0 7h9c.5522847 0 1 .4477153 1 1s-.4477153 1-1 1H8c-.55228475 0-1-.4477153-1-1s.44771525-1 1-1zm-7-15h2c.55228475 0 1 .44771525 1 1v2c0 .55228475-.44771525 1-1 1H1c-.55228475 0-1-.44771525-1-1v-2c0-.55228475.44771525-1 1-1zm0 7h2c.55228475 0 1 .44771525 1 1v2c0 .5522847-.44771525 1-1 1H1c-.55228475 0-1-.4477153-1-1v-2c0-.55228475.44771525-1 1-1zm0 7h2c.55228475 0 1 .4477153 1 1v2c0 .5522847-.44771525 1-1 1H1c-.55228475 0-1-.4477153-1-1v-2c0-.5522847.44771525-1 1-1z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'filter' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 19 20" role="presentation">
      <path d="M17.0288086 4.01391602L11 9v7.0072021l-4 2.008545V9L1.01306152 4.01391602V1H17.0288086z" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="square"></path>
    </svg>

  {%- when 'lock' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 18 24" role="presentation">
      <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="square" stroke-width="2">
        <path d="M9.00000011 1.916667c-2.48888889 0-4.44444444 2.01666667-4.44444444 4.58333333v2.75h8.88888893v-2.75c0-2.56666666-1.9555556-4.58333333-4.44444449-4.58333333z"></path>
        <path d="M1.888889 9.25h14.222222v12.833333H1.888889z"></path>
        <ellipse cx="9" cy="14.75" rx="1.777778" ry="1.833333"></ellipse>
        <path d="M9.00000011 16.5833337v1.8333333"></path>
      </g>
    </svg>

  {%- when 'lock-2' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 12 15" role="presentation">
      <g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path d="M6 1C4.32 1 3 2.375 3 4.125V6h6V4.125C9 2.375 7.68 1 6 1zM1 6h10v8H1z"></path>
      </g>
    </svg>

  {%- when 'search-loader' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 64 64" role="presentation">
      <path opacity=".4" d="M23.8589104 1.05290547C40.92335108-3.43614731 58.45816642 6.79494359 62.94709453 23.8589104c4.48905278 17.06444068-5.74156424 34.59913135-22.80600493 39.08818413S5.54195825 57.2055303 1.05290547 40.1410896C-3.43602265 23.0771228 6.7944697 5.54195825 23.8589104 1.05290547zM38.6146353 57.1445143c13.8647142-3.64731754 22.17719655-17.89443541 18.529879-31.75914961-3.64743965-13.86517841-17.8944354-22.17719655-31.7591496-18.529879S3.20804604 24.7494569 6.8554857 38.6146353c3.64731753 13.8647142 17.8944354 22.17719655 31.7591496 18.529879z"></path>
      <path d="M1.05290547 40.1410896l5.80258022-1.5264543c3.64731754 13.8647142 17.89443541 22.17719655 31.75914961 18.529879l1.5264543 5.80258023C23.07664892 67.43614731 5.54195825 57.2055303 1.05290547 40.1410896z"></path>
    </svg>

  {%- when 'package' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 46 46" role="presentation">
      <g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd">
        <path d="M11 8l24 14m10-6L25 28 1 14m24 14v16"></path>
        <path stroke-linecap="square" d="M45 16v14L25 44 1 30V14L21 2z"></path>
      </g>
    </svg>

  {%- when 'address' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 46 45" role="presentation">
      <g transform="translate(1 1)" stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path d="M38 9.5L44 8v30l-16 4-12-4-16 4V12l6-1.5"></path>
        <path d="M32 10c0 6.172-10 16.25-10 16.25S12 16.172 12 10c0-6.328 5.168-10 10-10s10 3.672 10 10z"></path>
        <circle cx="22" cy="10" r="3"></circle>
      </g>
    </svg>

  {%- when 'check' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 24 24" role="presentation">
      <path fill="currentColor" d="M9 20l-7-7 3-3 4 4L19 4l3 3z"></path>
    </svg>


  {%- when 'check-2' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 13 11" role="presentation">
      <path d="M1 4.166456L5.317719 9 12 1" stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd"></path>
    </svg>

  {%- when 'minus' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 10 2" role="presentation">
      <path d="M10 0v2H0V0z" fill="currentColor"></path>
    </svg>

  {%- when 'plus' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 10 10" role="presentation">
      <path d="M6 4h4v2H6v4H4V6H0V4h4V0h2v4z" fill="currentColor" fill-rule="evenodd"></path>
    </svg>

  {%- when 'cross-sold-out' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 14 14" role="presentation">
      <g fill-rule="nonzero" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="square">
        <path d="M11.89949494 2L2 11.89949494M1.99999906 2l9.89949494 9.89949494"></path>
      </g>
    </svg>

  {%- when 'shopify-logo' -%}
    <svg class="{{ icon_class }}" role="presentation" viewBox="0 0 150 43">
      <path fill="currentColor" d="M33.3 8.9s0-.2-.1-.3c-.1-.1-.2-.1-.2-.1l-3.4-.2-2.1-2.1c-.1-.1-.2-.1-.3-.1l-1.8 36.1L38 39.5 33.3 8.9zm-7.5-3l-.9.3c-.6-1.6-1.3-2.8-2.3-3.5-.7-.5-1.5-.7-2.3-.6l-.6-.6c-.9-.7-2.1-.9-3.6-.3C11.8 2.7 10 8.3 9.3 11l-3.8 1.1s-.9.2-1.1.5c-.2.3-.3 1-.3 1L.9 37.9l23.6 4.4L26.3 6c-.2-.2-.4-.1-.5-.1zm-5.7 1.7L16 8.9c.5-2.1 1.6-4.3 3.6-5.1.4 1 .5 2.5.5 3.8zm-3.5-5.2c.9-.3 1.6-.3 2.1 0-2.7 1.2-3.9 4.3-4.4 6.9l-3.3 1c.7-2.5 2.3-6.7 5.6-7.9zm2.3 17.9c-.2-.1-.4-.2-.7-.3-.3-.1-.5-.2-.8-.3-.3-.1-.6-.1-1-.2h-1.1c-.3 0-.6.1-.9.2-.3.1-.5.2-.7.4-.2.2-.3.4-.4.6-.1.2-.2.5-.2.7 0 .2 0 .4.1.6l.3.6.6.6c.2.2.5.4.8.6.5.3.9.6 1.4 1 .5.4.9.8 1.2 1.3.4.5.7 1 .9 1.7.2.6.3 1.3.3 2.1-.1 1.2-.3 2.3-.8 3.2-.4.9-1.1 1.6-1.8 2.1s-1.6.8-2.5.9c-.9.1-1.9.1-2.8-.2-.5-.1-.9-.3-1.3-.4l-1.2-.6c-.3-.2-.7-.4-.9-.6-.3-.2-.5-.4-.7-.7L7.8 30c.2.2.4.3.7.5.3.2.6.4.9.5.3.2.7.3 1 .5.4.1.7.2 1.1.3h.8c.2-.1.5-.2.6-.3.2-.1.3-.3.4-.5.1-.2.1-.4.2-.7 0-.2 0-.5-.1-.7-.1-.2-.2-.4-.3-.7-.1-.2-.3-.4-.6-.7-.2-.2-.5-.5-.9-.7-.4-.3-.8-.6-1.2-1-.3-.4-.7-.7-.9-1.2-.2-.4-.4-.9-.6-1.4-.1-.5-.2-1-.2-1.6 0-1 .2-1.8.6-2.6.3-.8.8-1.5 1.4-2.2.6-.6 1.3-1.2 2.2-1.6.9-.4 1.8-.7 2.9-.9.5-.1 1-.1 1.4-.1.5 0 .9 0 1.3.1s.8.1 1.1.2l.9.3-1.6 4.8zm2.6-13.1v-.5c0-1.3-.2-2.4-.5-3.2.3 0 .6.1.9.3.8.5 1.3 1.6 1.7 2.8l-2.1.6zM45.3 29.6c.9.5 2.5 1.1 4.1 1.1 1.4 0 2.2-.8 2.2-1.7 0-.9-.5-1.5-2.1-2.4-1.9-1.1-3.3-2.6-3.3-4.6 0-3.5 3-6 7.4-6 1.9 0 3.4.4 4.2.8l-1.2 3.5c-.7-.3-1.8-.7-3.1-.7-1.4 0-2.3.6-2.3 1.7 0 .8.7 1.4 1.9 2 2 1.1 3.6 2.6 3.6 4.7 0 4-3.2 6.2-7.7 6.1-2.1 0-4-.6-4.9-1.2l1.2-3.3zm12.4 4.5l4.9-25.2h5l-1.9 9.8h.1c1.3-1.6 3.1-2.7 5.3-2.7 2.6 0 4.1 1.7 4.1 4.5 0 .9-.1 2.2-.4 3.3l-2 10.3h-5l1.9-9.9c.1-.7.2-1.5.2-2.2 0-1.1-.4-1.8-1.6-1.8-1.6 0-3.3 2-4 5.3l-1.7 8.7h-4.9v-.1zM93.3 23c0 6.1-4 11.4-9.9 11.4-4.5 0-6.9-3.1-6.9-6.9 0-6 4-11.4 10-11.4 4.7 0 6.8 3.3 6.8 6.9zm-11.7 4.3c0 1.8.7 3.2 2.4 3.2 2.7 0 4.1-4.7 4.1-7.7 0-1.5-.6-3-2.4-3-2.6.1-4.1 4.7-4.1 7.5zm10.5 13.8L95.6 23c.4-2 .8-4.7 1-6.6h4.4l-.3 2.8h.1c1.3-1.9 3.3-3 5.3-3 3.7 0 5.2 2.9 5.2 6.3 0 6-3.9 12.1-9.7 12.1-1.2 0-2.4-.5-2.9-.5h-.1l-1.4 7h-5.1zm7.2-11.2c.5.4 1.2.7 2.1.7 2.8 0 4.7-4.6 4.7-7.8 0-1.3-.5-2.7-2-2.7-1.7 0-3.4 2-4 5.1l-.8 4.7zm12.2 4.2l3.4-17.7h5.1l-3.4 17.7h-5.1zm6.5-19.6c-1.4 0-2.4-1.1-2.4-2.6 0-1.6 1.3-2.9 2.9-2.9 1.5 0 2.5 1.1 2.5 2.6 0 1.8-1.4 2.9-3 2.9zm2.9 19.6l2.7-14h-2.3l.7-3.7h2.3l.1-.8c.4-2.1 1.2-4.2 2.9-5.6 1.3-1.1 3.1-1.6 4.9-1.6 1.2 0 2.1.2 2.7.4l-1 3.9c-.4-.1-.9-.3-1.6-.3-1.7 0-2.7 1.5-3 3.2l-.2.8h3.5l-.7 3.7h-3.5l-2.7 14h-4.8zm18-17.7l.8 7.9c.2 1.8.4 3.3.4 4.2h.1c.4-.9.8-2.3 1.5-4.2l3.1-7.9h5.2l-6.1 13.1c-2.2 4.5-4.3 7.7-6.6 9.9-1.8 1.7-3.9 2.5-4.9 2.7l-1.4-4.2c.8-.3 1.9-.7 2.8-1.4 1.2-.8 2.1-1.9 2.7-3 .1-.3.2-.5.1-1.9l-3-15.2h5.3z"></path>
    </svg>

  {%- when 'sale' -%}
    <svg class="{{ icon_class }}" role="presentation" viewBox="0 0 24 24">
      <path d="M22.707 12.293l-11-11A1.002 1.002 0 0 0 11 1H2a1 1 0 0 0-1 1v9c0 .265.105.52.293.707l11 11a.997.997 0 0 0 1.414 0l9-9a.999.999 0 0 0 0-1.414zM7 9a2 2 0 1 1-.001-3.999A2 2 0 0 1 7 9zm6 8.414L8.586 13 10 11.586 14.414 16 13 17.414zm3-3L11.586 10 13 8.586 17.414 13 16 14.414z" fill="currentColor"></path>
    </svg>

  {%- comment -%} ICONS FOR COMPLYING WITH MEDIA API. COLORS OF THOSE ARE STANDARDIZED BY SHOPIFY {%- endcomment -%}

  {%- when 'media-model-badge' -%}
    <svg viewBox="0 0 26 26" role="presentation">
      <path d="M1 25h24V1H1z" fill="{{ settings.secondary_background }}"></path>
      <path d="M.5 25v.5h25V.5H.5z" fill="none" stroke="{{ settings.text_color }}" stroke-opacity=".15"></path>
      <path d="M19.13 8.28L14 5.32a2 2 0 00-2 0l-5.12 3a2 2 0 00-1 1.76V16a2 2 0 001 1.76l5.12 3a2 2 0 002 0l5.12-3a2 2 0 001-1.76v-6a2 2 0 00-.99-1.72zm-6.4 11.1l-5.12-3a.53.53 0 01-.26-.38v-6a.53.53 0 01.27-.46l5.12-3a.53.53 0 01.53 0l5.12 3-4.72 2.68a1.33 1.33 0 00-.67 1.2v6a.53.53 0 01-.26 0z" fill="{{ settings.text_color }}" opacity=".6"></path>
    </svg>

  {%- when 'media-view-in-space' -%}
    <svg viewBox="0 0 16 16" role="presentation">
      <path d="M14.13 3.28L9 .32a2 2 0 00-2 0l-5.12 3a2 2 0 00-1 1.76V11a2 2 0 001 1.76l5.12 3a2 2 0 002 0l5.12-3a2 2 0 001-1.76V5a2 2 0 00-.99-1.72zm-6.4 11.1l-5.12-3a.53.53 0 01-.26-.38V5a.53.53 0 01.27-.46l5.12-3a.53.53 0 01.53 0l5.12 3-4.72 2.68A1.33 1.33 0 008 8.42v6a.53.53 0 01-.26 0l-.01-.04z" fill="{{ settings.text_color }}" fill-rule="nonzero"></path>
    </svg>

  {%- when 'media-video-badge' -%}
    <svg viewBox="0 0 26 26" fill="none" role="presentation">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1 25h24V1H1v24z" fill="{{ settings.secondary_background }}"></path>
      <path d="M.5 25v.5h25V.5H.5V25z" stroke="{{ settings.text_color }}" stroke-opacity=".15"></path>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.718 6.72a1 1 0 00-1.518.855v10.736a1 1 0 001.562.827l8.35-5.677a1 1 0 00-.044-1.682l-8.35-5.06z" fill="{{ settings.text_color }}" fill-opacity=".6"></path>
    </svg>

  {%- comment -%} TEXT WITH ICONS SECTION {%- endcomment -%}

  {%- when 'bi-add-to-cart' -%}
    <svg viewBox="0 0 22 24" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path stroke="{{ settings.heading_color }}" d="M12 23H1V6h18v7"></path>
        <path d="M6 9V5c0-2.209 1.791-4 4-4s4 1.791 4 4v4" stroke="{{ settings.heading_color }}"></path>
        <path d="M18 17v6M15 20h6" stroke="{{ settings.accent_color }}"></path>
      </g>
    </svg>

  {%- when 'bi-alert' -%}
    <svg viewBox="0 0 24 25" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path d="M7.969 15.906l2.219 4.872c.362.811-.002 1.761-.813 2.123-.811.362-1.761-.002-2.123-.813l-4.177-9.237" stroke="{{ settings.heading_color }}"></path>
        <path d="M16 18l-8-5H4c-1.657 0-3-1.343-3-3s1.343-3 3-3h4l8-5v16z" stroke="{{ settings.heading_color }}" stroke-linecap="square"></path>
        <path d="M21 10h2M19.794 5.5l1.732-1M19.794 14.5l1.732 1" stroke="{{ settings.accent_color }}" stroke-linecap="square"></path>
      </g>
    </svg>

  {%- when 'bi-chat' -%}
    <svg viewBox="0 0 24 23" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path stroke="{{ settings.accent_color }}" d="M23 5v13h-4v4l-6-4h-1"></path>
        <path stroke="{{ settings.heading_color }}" d="M19 1H1v13h4v5l7-5h7z"></path>
      </g>
    </svg>

  {%- when 'bi-credit-card' -%}
    <svg viewBox="0 0 24 20" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path d="M1 5h22M1 9h22M21 19H3c-1.105 0-2-.895-2-2V3c0-1.105.895-2 2-2h18c1.105 0 2 .895 2 2v14c0 1.105-.895 2-2 2z" stroke="{{ settings.heading_color }}"></path>
        <path d="M5 14h5M18 14h1" stroke="{{ settings.accent_color }}"></path>
      </g>
    </svg>

  {%- when 'bi-comment' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 24 23" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path d="M20.4 15.8C22 14.2 23 12.2 23 10c0-5-4.9-9-11-9S1 5 1 10s4.9 9 11 9c1.1 0 2.1-.1 3.1-.4L21 21l-.6-5.2z" stroke="{{ settings.heading_color }}"></path>
        <path d="M8 8h8m-8 4h5" stroke="{{ settings.accent_color }}"></path>
      </g>
    </svg>
  
  {%- when 'bi-customer-support' -%}
    <svg viewBox="0 0 24 24" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path d="M10 17H4c-1.7 0-3 1.3-3 3v3h12v-3c0-1.7-1.3-3-3-3zM7 14c-1.7 0-3-1.3-3-3v-1c0-1.7 1.3-3 3-3s3 1.3 3 3v1c0 1.7-1.3 3-3 3z" stroke="{{ settings.heading_color }}"></path>
        <path stroke="{{ settings.accent_color }}" d="M13 1v10l4-3h6V1z"></path>
      </g>
    </svg>

  {%- when 'bi-delivery' -%}
    <svg viewBox="0 0 24 24" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path d="M6.5 3.25l12 6" stroke="{{ settings.accent_color }}"></path>
        <path stroke="{{ settings.heading_color }}" d="M23 7l-10 5L1 6M13 12v11"></path>
        <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M23 7v10l-10 6-12-6V6l10-5z"></path>
      </g>
    </svg>

  {%- when 'bi-ecology' -%}
    <svg viewBox="0 0 20 24" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path d="M7 17l-2 2" stroke="{{ settings.accent_color }}"></path>
        <path d="M8 12c1.68-1.68 6-2 6-2s-.16 4.16-2 6c-1.96 1.96-5 1-5 1s-1-3 1-5z" stroke="{{ settings.accent_color }}" stroke-linecap="square"></path>
        <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M10 2l-9 8v13h18V10z"></path>
      </g>
    </svg>

  {%- when 'bi-plant' -%}
    <svg viewBox="0 0 22 24" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path d="M11 13V1M17 2h-1c-2.76142 0-5 2.23858-5 5v2h1c2.76142 0 5-2.23858 5-5V2z" stroke="{{ settings.accent_color }}" stroke-linecap="square"></path>
        <path stroke="{{ settings.heading_color }}" d="M18 17v6H4v-6"></path>
        <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M1 13h20v4H1z"></path>
      </g>
    </svg>

  {%- when 'bi-email' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 22 22" role="presentation">
      <g fill="none" fill-rule="evenodd">
        <path stroke="{{ settings.accent_color }}" d="M.916667 10.08333367l3.66666667-2.65833334v4.65849997zm20.1666667 0L17.416667 7.42500033v4.65849997z"></path>
        <path stroke="{{ settings.heading_color }}" stroke-width="{{ stroke_width | default: 2 }}" d="M4.58333367 7.42500033L.916667 10.08333367V21.0833337h20.1666667V10.08333367L17.416667 7.42500033"></path>
        <path stroke="{{ settings.heading_color }}" stroke-width="{{ stroke_width | default: 2 }}" d="M4.58333367 12.1000003V.916667H17.416667v11.1833333m-16.5-2.01666663L21.0833337 21.0833337m0-11.00000003L11.0000003 15.5833337"></path>
        <path d="M8.25000033 5.50000033h5.49999997M8.25000033 9.166667h5.49999997" stroke="{{ settings.accent_color }}" stroke-width="{{ stroke_width | default: 2 }}" stroke-linecap="square"></path>
      </g>
    </svg>

  {%- when 'bi-fast-delivery' -%}
    <svg viewBox="0 0 24 22" role="presentation">
      <g transform="translate(1 1)" stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path d="M5 10H2M5 15H4" stroke="{{ settings.accent_color }}" stroke-linecap="square"></path>
        <path stroke="{{ settings.heading_color }}" d="M16.829 16H22v-6l-4-2-1-4H9v12h2.171"></path>
        <path d="M0 5h5" stroke="{{ settings.accent_color }}" stroke-linecap="square"></path>
        <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M0 0h9v4"></path>
        <circle stroke="{{ settings.heading_color }}" stroke-linecap="square" cx="14" cy="17" r="3"></circle>
        <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M13 7v2h2"></path>
      </g>
    </svg>

  {%- when 'bi-gift-wrap' -%}
    <svg viewBox="0 0 24 24" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path d="M3 18l9-9M11.9999905 23.0000095l9.0000152-9.0000143M5 23L19 9" stroke="{{ settings.heading_color }}"></path>
        <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M21 9v14H3V9"></path>
        <path d="M6 3c0-1.1.9000001-2 2-2 3 0 4 4 4 4H8c-1.1000004 0-2-.9000001-2-2zM18 3c0-1.1-.8999996-2-2-2-3 0-4 4-4 4h4c1.1000004 0 2-.9000001 2-2z" stroke="{{ settings.accent_color }}" stroke-linecap="square"></path>
        <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M1 5h22v4H1z"></path>
      </g>
    </svg>

  {%- when 'bi-gift-box' -%}
    <svg viewBox="0 0 24 24" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path stroke="{{ settings.heading_color }}" d="M21 9v8h-3M5 14V9"></path>
        <path d="M7 3c0-1.1.9000001-2 2-2 3 0 4 4 4 4H9c-1.1000004 0-2-.9000001-2-2zM19 3c0-1.1-.8999996-2-2-2-3 0-4 4-4 4h4c1.1000004 0 2-.9000001 2-2zM3 5h20v4H3z" stroke="{{ settings.heading_color }}" stroke-linecap="square"></path>
        <path d="M14.1000004 17H19c2.3999996 0 3 2 3 2l-10.6000004 3.7999992C10.5999994 23 9.6999998 23 8.8999996 22.6999989L1 19.40625V14h4c1.5999999 0 3.1000004.6999998 4 2h3c1.5 0 3 1.5 3 3H8" stroke="{{ settings.accent_color }}"></path>
      </g>
    </svg>

  {%- when 'bi-heart' -%}
    <svg viewBox="0 0 24 23" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path d="M17 1c-2.1 0-3.9 1.1-5 2.7C10.9 2.1 9.1 1 7 1 3.7 1 1 3.7 1 7c0 6 11 15 11 15s11-9 11-15c0-3.3-2.7-6-6-6z" stroke="{{ settings.heading_color }}" stroke-linecap="square"></path>
        <path d="M16 5c1.65 0 3 1.35 3 3" stroke="{{ settings.accent_color }}" stroke-linecap="round"></path>
      </g>
    </svg>

  {%- when 'bi-mobile-payment' -%}
    <svg viewBox="0 0 24 24" role="presentation">
      <g transform="translate(1 1)" fill="none" fill-rule="evenodd">
        <circle fill="{{ settings.heading_color }}" fill-rule="nonzero" cx="6.5" cy="17.5" r="{{ stroke_width | default: 2 }}"></circle>
        <path d="M13 16v4c0 1.1-.9 2-2 2H2c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h4" stroke="{{ settings.heading_color }}" stroke-width="{{ stroke_width | default: 2 }}" stroke-linecap="square"></path>
        <path stroke="{{ settings.accent_color }}" stroke-width="{{ stroke_width | default: 2 }}" stroke-linecap="square" d="M22 12H6V0h16zM6 4h16M12 8h-2"></path>
      </g>
    </svg>

  {%- when 'bi-computer-payment' -%}
    <svg viewBox="0 0 25 24" role="presentation">
      <g fill="none" fill-rule="evenodd">
        <path d="M13.267 19.4h-9.2A3.067 3.067 0 0 1 1 16.333h12.267M3.3 13.267V2.533C3.3 1.686 3.986 1 4.833 1h15.334c.847 0 1.533.686 1.533 1.533V10.2M11.733 4.067h1.534" stroke="{{ settings.heading_color }}" stroke-width="{{ stroke_width | default: 2 }}"></path>
        <path stroke="{{ settings.accent_color }}" stroke-width="{{ stroke_width | default: 2 }}" d="M16.333 17.867H24v5.367h-7.667zM17.867 17.867v-2.3a2.3 2.3 0 1 1 4.6 0v2.3"></path>
      </g>
    </svg>

  {%- when 'bi-network' -%}
    <svg viewBox="0 0 24 24" role="presentation">
      <g transform="translate(1 1)" stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path d="M8.455 17.086L5.212 18.48C4.477 18.796 4 19.519 4 20.319V22h14v-1.681c0-.8-.477-1.523-1.212-1.838l-3.251-1.388" stroke="{{ settings.heading_color }}"></path>
        <circle stroke="{{ settings.accent_color }}" stroke-linecap="square" cx="11" cy="2" r="2"></circle>
        <circle stroke="{{ settings.accent_color }}" stroke-linecap="square" cx="20" cy="7" r="2"></circle>
        <circle stroke="{{ settings.accent_color }}" stroke-linecap="square" cx="2" cy="7" r="2"></circle>
        <path d="M11 18c-2.209 0-4-1.791-4-4v-1c0-2.209 1.791-4 4-4s4 1.791 4 4v1c0 2.209-1.791 4-4 4z" stroke="{{ settings.heading_color }}" stroke-linecap="square"></path>
      </g>
    </svg>

  {%- when 'bi-newsletter' -%}
    <svg viewBox="0 0 24 20" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path stroke="{{ settings.accent_color }}" d="M19 5l-7 7-7-7"></path>
        <path stroke="{{ settings.heading_color }}" d="M1 1h22v18H1z"></path>
        <path d="M7 13l-2 2M17 13l2 2" stroke="{{ settings.accent_color }}"></path>
      </g>
    </svg>

  {%- when 'bi-returns' -%}
    <svg viewBox="0 0 23 24" role="presentation">
      <g transform="translate(1 1)" stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path stroke="{{ settings.accent_color }}" d="M8 4h8v7"></path>
        <path stroke="{{ settings.accent_color }}" stroke-linecap="square" d="M11 7L8 4l3-3"></path>
        <circle stroke="{{ settings.heading_color }}" stroke-linecap="square" cx="6" cy="20" r="2"></circle>
        <circle stroke="{{ settings.heading_color }}" stroke-linecap="square" cx="18" cy="20" r="2"></circle>
        <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M21 5l-2 10H5L3 0H0"></path>
      </g>
    </svg>

  {%- when 'bi-secure-payment' -%}
    <svg viewBox="0 0 24 24" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path d="M1 5h22M1 9h22M9 17H3c-1.105 0-2-.895-2-2V3c0-1.105.895-2 2-2h18c1.105 0 2 .895 2 2v10M5 13h5" stroke="{{ settings.heading_color }}"></path>
        <path stroke="{{ settings.accent_color }}" d="M13 16h8v7h-8zM15 16v-2c0-1.1.9-2 2-2s2 .9 2 2v2M17 19v1"></path>
      </g>
    </svg>

  {%- when 'bi-love' -%}
    <svg viewBox="0 0 24 22" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path stroke="{{ settings.heading_color }}" d="M5 6.1000004L1 9v12h22V9l-4-2.8999996M1 9l22 12M23 9l-11 6"></path>
        <path d="M13.8461533 1C13.0769224 1 12.3846149 1.3846154 12 2c-.3846159-.6153846-1.0769234-1-1.8461542-1C8.9230766 1 8 2 8 3.2307687c0 2.1538463 4 5.4615388 4 5.4615388s4-3.3076925 4-5.4615388C16 2 15.0769224 1 13.8461533 1z" stroke="{{ settings.accent_color }}" stroke-linecap="square"></path>
      </g>
    </svg>

  {%- when 'bi-phone' -%}
    <svg class="{{ icon_class }}" viewBox="0 0 24 24" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path d="M17 15l-3 3-8-8 3-3-5-5-3 3c0 9.941 8.059 18 18 18l3-3-5-5z" stroke="{{ settings.heading_color }}"></path>
        <path d="M14 1c4.971 0 9 4.029 9 9m-9-5c2.761 0 5 2.239 5 5" stroke="{{ settings.accent_color }}"></path>
      </g>
    </svg>

  {%- when 'bi-share' -%}
    <svg viewBox="0 0 24 24" role="presentation">
      <g transform="translate(1 1)" stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path d="M7.6 9.2l6.8-3.4M7.6 12.7l6.8 3.4" stroke="{{ settings.accent_color }}"></path>
        <circle stroke="{{ settings.heading_color }}" stroke-linecap="square" cx="4" cy="11" r="4"></circle>
        <circle stroke="{{ settings.heading_color }}" stroke-linecap="square" cx="18" cy="4" r="4"></circle>
        <circle stroke="{{ settings.heading_color }}" stroke-linecap="square" cx="18" cy="18" r="4"></circle>
      </g>
    </svg>

  {%- when 'bi-shield' -%}
    <svg viewBox="0 0 22 24" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path d="M11 2v20M19.904 12H2.096" stroke="{{ settings.accent_color }}"></path>
        <path d="M11 2C8 4 4 5 1 5c0 7 3 14 10 17 7-3 10-10 10-17-3 0-7-1-10-3z" stroke="{{ settings.heading_color }}" stroke-linecap="square"></path>
      </g>
    </svg>

  {%- when 'bi-shop' -%}
    <svg viewBox="0 0 22 24" role="presentation">
      <g stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd">
        <path stroke="{{ settings.accent_color }}" d="M9 17h4v6H9z"></path>
        <path stroke="{{ settings.heading_color }}" stroke-linecap="square" d="M3 12v11h16V12M21 9c0 2-1.1 3-2.5 3S16 10.9 16 9.5c0 1.4-1.1 2.5-2.5 2.5S11 10.9 11 9.5c0 1.4-1.1 2.5-2.5 2.5S6 10.9 6 9.5C6 10.9 4.9 12 3.5 12S1 11 1 9l4-8h12l4 8z"></path>
      </g>
    </svg>

  {%- when 'bi-shop-pin' -%}
    <svg viewBox="0 0 24 24" role="presentation">
      <g transform="translate(1 1)" fill="none" fill-rule="evenodd">
        <path d="M12.374 10.997C11.052 10.931 10 9.839 10 8.5 10 9.881 8.881 11 7.5 11S5 9.881 5 8.5C5 9.881 3.881 11 2.5 11S0 9.958 0 8l4-8h12l4 8M3 11v9h8" stroke="{{ settings.heading_color }}" stroke-width="{{ stroke_width | default: 2 }}"></path>
        <path d="M22 13c0 3.1-5 8.1-5 8.1s-5-5-5-8.1c0-3.2 2.6-5 5-5s5 1.8 5 5z" stroke="{{ settings.accent_color }}" stroke-width="{{ stroke_width | default: 2 }}" stroke-linecap="square"></path>
        <circle fill="{{ settings.accent_color }}" fill-rule="nonzero" cx="17" cy="13" r="1"></circle>
      </g>
    </svg>

  {%- when 'bi-time' -%}
    <svg viewBox="0 0 20 24" role="presentation">
      <g transform="translate(1 1)" stroke-width="{{ stroke_width | default: 2 }}" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path stroke="{{ settings.heading_color }}" d="M9 9v4h4"></path>
        <circle stroke="{{ settings.heading_color }}" cx="9" cy="13" r="9"></circle>
        <path d="M6 0h6M9 0v1" stroke="{{ settings.accent_color }}"></path>
      </g>
    </svg>
{%- endcase -%}