<div class="modal" aria-hidden="true" data-return-policy-modal id="return-policy">
 
  <div class="modal__dialog modal__dialog--stretch" role="dialog">

    <div class="modal__inner">
      <span class="close">X</span>
      <div class="std">
        
        <p class="p1" style="text-align: center;"><strong><span class="s1">Refund Policy</span></strong></p>
        <p class="p1" style="text-align: center;"><strong>It's a confusing time right now for everyone and we are working hard to keep everything running smoothly for you luxe ladies, due to these uncertain times right now across the world, you now have longer to return your unwanted items with a 28 day return policy.</strong></p>
        <p class="p1" style="text-align: center;"><span class="s1"> </span><span class="s1">We guarantee to refund any items (excluding swimwear &amp; underwear) that you are not completely happy with when returned to us in an unused and saleable condition</span><strong><span class="s1"> within 28 days of purchase.</span></strong><span class="s1"> Refunds will be at the original purchase price excluding the initial delivery charge and will be made to your original method of payment </span><span class="s1">within 7-10 working days of receiving your return at Luxe To Kill HQ.</span></p>
        <p class="p1" style="text-align: center;"><span class="s1">If your item is faulty or incorrect please contact us immediately at info@luxetokill.com<strong> before returning </strong>your<strong> </strong>item, so we can deal with your issue ASAP.</span></p>
        <p class="p1" style="text-align: center;">Please note swimwear and underwear items are <strong>non-returnable</strong> due to hygiene reasons, this does not affect your statutory rights.</p>
        <p class="p1" style="text-align: center;"><span class="s1"> <br /> </span><strong><span class="s2">Return Instructions</span></strong></p>
        <p class="p1" style="text-align: center;"><strong><span style="font-size: small;">Step 1:</span></strong> Please print off and fill out the below downloadable Returns Form OR alternatively you can email the Word version of the returns form back to us at<strong> info@luxetokill.com, </strong>but if you do so please ensure we can identify your physical return by including either your name or order number in with your item(s).</p>
        <p class="p1" style="text-align: center;"><span class="s1"><strong><span style="font-size: small;">Step 2:</span> </strong>If printed, place the returns form in with your item(s) and post back to the address provided on the form. We highly recommend you use tracked and insured services as you will be held responsible for the item until we receive it, we will not be able to offer a refund for items lost in transit.</span></p>
        <p class="p1" style="text-align: center;"><a href="https://cdn.shopify.com/s/files/1/0444/4769/5006/files/Luxe_To_Kill_Returns_Form.pdf?v=1600442079"><span class="s1">Return Forms.pdf</span></a><span class="s1">    </span><a href="https://cdn.shopify.com/s/files/1/0444/4769/5006/files/Luxe_To_Kill_Returns_Form.doc.docx?v=1600442139"><span class="s1">Return Forms.doc</span></a></p>
        <p class="p1" style="text-align: center;"><span class="s1"><strong>Note:</strong> If your item is faulty or incorrect please contact us <strong>before returning</strong> your item at<strong> info@luxetokill.com</strong>, so that we may deal with your issue ASAP!</span></p>

        <p class="p1" style="text-align: center;"><span class="s1"><strong><span class="s2">Exchanges</span></strong></span></p>
      
        <p class="p1" style="text-align: center;"><span class="s1"><strong>Contact</strong></span></p>
        <p class="p1" style="text-align: center;"><span class="s1"><strong></strong></span><span class="s1">If you have any issues at any time and you need to get in touch, please e</span><span class="s1">mail<strong><em> </em></strong><a href="mailto:info@luxetokill.com"><span class="s3"><strong><em>info@luxetokill.com</em></strong></span></a> . We will endeavour to respond within 12 hours or sooner.</span></p>
        <p class="p1" style="text-align: center;"><span class="s1"><span> </span></span></p>
     
      </div> 
    </div>
  </div>

</div>