<div class="modal" aria-hidden="true" data-size id="size-chart">
 
      <div class="modal__dialog modal__dialog--stretch" role="dialog">
     
      <div class="modal__inner">
        <div class="std">
          <p><strong style="font-size: 1.5em;">Sizing</strong><strong></strong> <span class="close">X</span></p>
          <p>Dont worry... If the shoe doesnt fit - return it! We'll send the next one out for FREE (UK Customers Only)</p>
          <p>Please note that we are a UK based retailer, so our products are listed in standard UK sizes, if you are ordering from around the world then you will need to use our size guide to work out the size you need!</p>
          <p>(Clothing Size Conversion table)&nbsp;</p>
          <div class="table-wrapper"><table>
            <tbody>
              <tr>
                <td class="style3">
                  <p>&nbsp; -</p>
                </td>
                <td class="style4"></td>
                <td class="style4">XS</td>
                <td class="style4">S</td>
                <td class="style6">M</td>
                <td class="style4">L</td>
                <td class="style4">XL</td>
                <td class="style4">XXL</td>
              </tr>
              <tr>
                <td class="style3">
                  <p>UK</p>
                </td>
                <td class="style4"></td>
                <td class="style4">6</td>
                <td class="style4">8</td>
                <td class="style6">10</td>
                <td class="style4">12</td>
                <td class="style4">14</td>
                <td class="style4">16</td>
              </tr>
              <tr>
                <td class="style3">
                  <p>US</p>
                </td>
                <td class="style4"></td>
                <td class="style4">2</td>
                <td class="style4">4</td>
                <td class="style6">6</td>
                <td class="style4">8</td>
                <td class="style4">10</td>
                <td class="style4">12</td>
              </tr>
              <tr>
                <td class="style3">
                  <p>EU</p>
                </td>
                <td class="style4"></td>
                <td class="style4">32</td>
                <td class="style4">34</td>
                <td class="style6">36</td>
                <td class="style4">38</td>
                <td class="style4">40</td>
                <td class="style4">42</td>
              </tr>
            </tbody>
            </table></div>
          <p></p>
          <p>(Shoes)</p>
          <div class="table-wrapper"><table border="0" class="footwear">
            <tbody>
              <tr>
                <td>UK</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>&nbsp;9</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>EU</td>
                <td>36</td>
                <td>37</td>
                <td>38</td>
                <td>39</td>
                <td>40</td>
                <td>41</td>
                <td>42</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>US</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>&nbsp;11</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
            </table></div>
          <p>&nbsp;</p>
          <p>If you have any other enquiries regarding sizing or another issue please get in touch with us at&nbsp;<a href="mailto:info@luxetokill.com" target="_blank">info@luxetokill.com</a>&nbsp;for help.</p>
        </div>
      </div>
    </div>
    
</div>