{% if section.settings.show_announcement %}
<section data-section-id="{{ section.id }}" data-section-type="announcement-bar">
    <div style="color: {{ section.settings.color }}; background-color: {{ section.settings.background }};" class="hidden-tablet discount-wrapper">
        {%for block in section.blocks %} {%if block.settings.announcement %}
        <div class="discount-block hidden-pocket">
            {%if block.settings.url %}
            <a href="{{ block.settings.url }}">
                {% endif %}{{ block.settings.announcement }}
                {%if block.settings.url %}
                	</a> {% endif %}
        </div>
        {% endif %} {% endfor %}
    </div>

    <div class="hidden-lap-and-up" style="color: {{ section.settings.color }}; background-color: {{ section.settings.background }};">
        <div data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": false ,"draggable": true, "prevNextButtons": false, "autoPlay": 3000, "fade": true}'>
            {%- for block in section.blocks %} 
                {%- if block.settings.announcement and block.type == 'text' -%}
                    <div class="discount-block">
                        {%if block.settings.url %}
                            <a href="{{ block.settings.url }}">
                        {% endif %}
                                {{ block.settings.announcement }}
                        {%if block.settings.url %}
                            </a>
                        {% endif %}
                    </div>
                {%- endif -%} 
            {%- endfor -%}
        </div>
    </div>
    {%- for block in section.blocks %} 
        {%- if block.settings.show_announcement and block.type == 'image' -%}
            <div class="announcement-image">
                {%- if block.settings.url -%}
                    <a href="{{ block.settings.url }}">
                {%- endif-%}
                      {%- capture supported_sizes -%}{%- render 'image-size', sizes: '400,600,700,800,900,1000,1100,1200,1400,1920', image: block.settings.image -%}{%- endcapture -%}
                      {%- assign image_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                      <img class="lazyload" alt="{{ block.settings.image.alt | escape }}" 
                           data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" style="width: 100%;">
{%- comment -%}<!--                     <img src="{{ block.settings.image | img_url: '2000x' }}" alt="{{ block.settings.image.alt }}" style="width: 100%;"/> -->{%- endcomment -%}
                {%if block.settings.url %}</a>{%- endif-%}
            </div>
        {%- endif -%}
    {%- endfor -%}   
</section>
{% endif %}

{% schema %}
 { 
   "name": "Announcement Bar",
   "settings": [{ 
       "type": "checkbox", 
       "id": "show_announcement", 
       "label": "Show announcement", 
       "default": true 
    }, 
    { 
        "type": "color", 
        "id": "background", 
        "label": "Background Color", 
        "default": "#000"
    }, 
    { 
        "type": "color", 
        "id": "color",   
        "label": "Color", 
        "default": "#fff"  
    }], 
    "blocks": [
    {
        "type": "text",
        "name": "Announcement",
        "settings": [{ 
                "type": "text", 
                "id": "announcement", 
                "label": "Announcement Text" 
            },
            { 
                "type": "url", 
                "id": "url", 
                "label": "Url" 
            }]
    }]
} 
{% endschema %}
{% stylesheet %} {% endstylesheet %} {% javascript %} {% endjavascript %}