<section class="section section--text-centered" data-section-id="{{ section.id }}" data-section-type="newsletter">
  <div class="container container--extra-narrow">
    {%- if section.settings.title != blank -%}
      <h2 class="heading h3">{{ section.settings.title | escape }}</h2>
    {%- endif -%}

    {%- if section.settings.content != blank -%}
      <div class="rte">
        {{ section.settings.content }}
      </div>
    {%- endif -%}

    {%- assign newsletter_id = 'newsletter-' | append: section.id -%}

    <div class="newsletter newsletter--compact">
      {%- form 'customer', id: newsletter_id, class: 'form newsletter__form' -%}
        {%- if form.posted_successfully? -%}
          <p class="alert alert--success">{{ 'home_page.newsletter.success' | t }}</p>
        {%- else -%}
          {%- if form.errors -%}
            <p class="alert alert--error">{{ form.errors.messages['email'] }}</p>
          {%- endif -%}

          <input type="hidden" name="contact[tags]" value="newsletter">

          <div class="form__input-row">
            <div class="form__input-wrapper form__input-wrapper--labelled">
              <input type="email" id="newsletter[contact][email]" name="contact[email]" class="form__field form__field--text" required>
              <label for="newsletter[contact][email]" class="form__floating-label">{{ 'home_page.newsletter.input' | t }}</label>
            </div>

            <button type="submit" class="form__submit button button--secondary">{{ 'home_page.newsletter.submit' | t }}</button>
          </div>
        {%- endif -%}
      {%- endform -%}
    </div>
  </div>
</section>
<footer class="footer" data-section-id="{{ section.id }}" data-section-type="footer" role="contentinfo">
  <div class="container">
    <div class="footer__wrapper">
      {%- if section.blocks.size > 0 -%}
        <div class="footer__block-list">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                <div class="footer__block-item footer__block-item--text" {{ block.shopify_attributes }}>
                  <button class="footer__title heading h6" disabled aria-expanded="false" aria-controls="block-{{ block.id }}" data-action="toggle-collapsible">
                    <span>{{ block.settings.title | escape }}</span>
                    <span class="plus-button"></span>
                  </button>

                  <div id="block-{{ block.id }}" class="footer__collapsible">
                    <div class="footer__collapsible-content">
                      <div class="rte">
                        {{ block.settings.content }}
                      </div>
                    </div>
                  </div>
                </div>

              {%- when 'links' -%}
                {%- assign menu = linklists[block.settings.menu] -%}

                {%- unless menu.empty? -%}
                  <div class="footer__block-item footer__block-item--links" {{ block.shopify_attributes }}>
                    <button class="footer__title heading h6" disabled aria-expanded="false" aria-controls="block-{{ block.id }}" data-action="toggle-collapsible">
                      <span>{{ menu.title }}</span>
                      <span class="plus-button"></span>
                    </button>

                    <div id="block-{{ block.id }}" class="footer__collapsible">
                      <div class="footer__collapsible-content">
                        <ul class="footer__linklist list--unstyled">
                          {%- for link in menu.links -%}
                            <li>
                              <a href="{{ link.url }}" class="footer__link-item link">{{ link.title }}</a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </div>
                  </div>
                {%- endunless -%}

              {%- when 'newsletter' -%}
                <div class="footer__block-item footer__block-item--newsletter" {{ block.shopify_attributes }}>
                  <p class="footer__title heading h6">{{ block.settings.title | escape }}</p>

                  <div class="footer__newsletter-wrapper">
                    {%- if block.settings.subheading != blank -%}
                      <div class="footer__newsletter-text rte">{{ block.settings.subheading }}</div>
                    {%- endif -%}

                    {%- form 'customer', id: 'footer-newsletter', class: 'footer__newsletter-form' -%}
                      {%- if form.posted_successfully? -%}
                        <p class="alert alert--success alert--center">{{ 'footer.newsletter.success' | t }}</p>
                      {%- else -%}
                        {%- if form.errors -%}
                          <p class="alert alert--error alert--center">{{ form.errors.messages['email'] }}</p>
                        {%- endif -%}

                        <input type="hidden" name="contact[tags]" value="newsletter">

                        <div class="form__input-wrapper form__input-wrapper--labelled">
                          <input type="email" id="footer[contact][email]" name="contact[email]" class="form__field form__field--text" required="">
                          <label for="footer[contact][email]" class="form__floating-label">{{ 'footer.newsletter.input' | t }}</label>
                        </div>

                        <button type="submit" class="form__submit form__submit--tight button button--primary">{{ 'footer.newsletter.submit' | t }}</button>
                      {%- endif -%}
                    {%- endform -%}
                  </div>
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endif -%}

      <aside class="footer__aside">
        {%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
          {%- assign currency_selector = true -%}
        {%- endif -%}

        {%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
          {%- assign locale_selector = true -%}
        {%- endif -%}

        <div class="footer__aside-item footer__aside-item--localization hidden-phone">
          {%- form 'localization', id: 'localization_form_footer', class: 'footer__localization-form' -%}
            {%- if locale_selector -%}
              <div class="footer__localization-form-item">
                <input type="hidden" name="locale_code" value="{{ form.current_locale.iso_code }}">
                <span class="visually-hidden">{{ 'footer.general.language' | t }}</span>

                <div class="value-picker-wrapper">
                  <button type="button" class="select-button select-button--mini" aria-haspopup="true" aria-expanded="false" aria-controls="footer-locale-picker" data-action="open-value-picker">
                    {{- form.current_locale.endonym_name -}}
                    {%- render 'icon', icon: 'arrow-bottom' -%}
                  </button>

                  <div id="footer-locale-picker" class="value-picker value-picker--small" data-picker-position="top" aria-hidden="true">
                    {% render 'icon', icon: 'nav-triangle-borderless' %}

                    <div class="value-picker__inner">
                      <header class="value-picker__header">
                        <span class="value-picker__title text--strong">{{ 'footer.general.language' | t }}</span>
                        <button type="button" class="value-picker__close" data-action="close-value-picker" aria-controls="footer-locale-picker" aria-label="{{ 'general.accessibility.close' | t }}">{% render 'icon', icon: 'close' %}</button>
                      </header>

                      <ul class="value-picker__choice-list">
                        {%- for locale in form.available_locales -%}
                          <li class="value-picker__choice-list-item">
                            <button type="submit" name="locale_code" class="value-picker__choice-item" value="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %}>
                              {{- locale.endonym_name -}}
                            </button>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            {%- endif -%}

            {%- if currency_selector -%}
              <div class="footer__localization-form-item">
                <input type="hidden" name="currency_code" value="{{ form.current_currency.iso_code }}">
                <span class="visually-hidden">{{ 'footer.general.currency' | t }}</span>

                <div class="value-picker-wrapper">
                  <button type="button" class="select-button select-button--mini" aria-haspopup="true" aria-expanded="false" aria-controls="footer-currency-picker" data-action="open-value-picker">
                    {{ form.current_currency.iso_code }} {% if form.current_currency.symbol %}{{ form.current_currency.symbol }}{% endif %}
                    {%- render 'icon', icon: 'arrow-bottom' -%}
                  </button>

                  <div id="footer-currency-picker" class="value-picker value-picker--auto value-picker--small" data-picker-position="top" aria-hidden="true">
                    {% render 'icon', icon: 'nav-triangle-borderless' %}

                    <div class="value-picker__inner">
                      <header class="value-picker__header">
                        <span class="value-picker__title text--strong">{{ 'footer.general.currency' | t }}</span>
                        <button type="button" class="value-picker__close" data-action="close-value-picker" aria-controls="footer-currency-picker" aria-label="{{ 'general.accessibility.close' | t }}">{% render 'icon', icon: 'close' %}</button>
                      </header>

                      <ul class="value-picker__choice-list">
                        {%- for currency in form.available_currencies -%}
                          <li class="value-picker__choice-list-item">
                            <button type="submit" name="currency_code" class="value-picker__choice-item" value="{{ currency.iso_code }}" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %}>
                              {{ currency.iso_code }} {% if currency.symbol %}{{ currency.symbol }}{% endif %}
                            </button>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            {%- endif -%}
          {%- endform -%}

         <p>© {{ shop.name }} Design By <a href="https://rishvi.co.uk/" style="color:var(--accent-color);">RISHVI LTD</a></p>
        </div>

        {%- if section.settings.show_social_media -%}
          {%- capture social_media -%}{% render 'social-media', show_social_media_name: false %}{%- endcapture -%}

          {%- if social_media != blank -%}
            <div class="footer__aside-item footer__aside-item--social">
              <p class="footer__aside-title">{{ 'footer.general.follow_us' | t }}</p>

              {{ social_media }}
            </div>
          {%- endif -%}
        {%- endif -%}

        {%- if section.settings.show_payment_icons and shop.enabled_payment_types.size > 0 -%}
          <div class="footer__aside-item footer__aside-item--payment">
            <p class="footer__aside-title">{{ 'footer.general.we_accept' | t }}</p>

            <div class="payment-list">
              {% for type in shop.enabled_payment_types %}
                {{ type | payment_type_svg_tag: class: 'payment-list__item' }}
              {% endfor %}
            </div>
          </div>
        {%- endif -%}

        <div class="footer__aside-item footer__aside-item--copyright hidden-lap-and-up">
          <p>© {{ shop.name }} Design By <a href="https://rishvi.co.uk/" style="color:var(--accent-color);">RISHVI LTD</a></p>
        </div>
      </aside>
    </div>
  </div>

  {%- comment -%}
    In order to reduce the number of static sections, we were asked by Shopify team to move the cookie bar to the footer instead of its own
    section. This feels a bit hacky but it works :).
  {%- endcomment -%}

  {%- if section.settings.show_cookie_bar -%}
    <aside class="cookie-bar" aria-hidden="true">
      <div class="container">
        <div class="cookie-bar__inner">
          <div class="cookie-bar__text rte">
            {{- section.settings.text -}}
          </div>

          {%- if section.settings.accept_button != blank -%}
            <button type="button" class="cookie-bar__button button button--secondary" data-action="accept-terms">{{ section.settings.accept_button | escape }}</button>
          {%- endif -%}
        </div>
      </div>
    </aside>
  {%- endif -%}
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "newsletter"
    },
	{
      "type": "paragraph",
      "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
    },
	{
      "type": "header",
      "content": "Footer"
    },
	{
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Show social media",
      "info": "Make sure to have properly configured your social media in the theme settings.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Cookie bar"
    },
    {
      "type": "checkbox",
      "id": "show_cookie_bar",
      "label": "Show cookie bar",
      "default": false
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Use this bar to show information about your cookie policy.</p>"
    },
    {
      "type": "text",
      "id": "accept_button",
      "label": "Accept button",
      "default": "Accept"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "About our store"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.</p>"
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "info": "This menu won't show dropdown items."
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customers who subscribe will have their email address added to the \"accepts marketing\" [customer list](/admin/customers?query=&accepts_marketing=1)."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Subheading",
          "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text",
        "settings": {}
      },
      {
        "type": "links",
        "settings": {
          "menu": "footer"
        }
      },
      {
        "type": "newsletter",
        "settings": {}
      }
    ]
  }
}
{% endschema %}