{%- capture section_settings -%}
{
  "autoPlay": {{ section.settings.autoplay | json }},
  "prevNextButtons": false,
  "pageDots": {% if section.blocks.size > 1 %}true{% else %}false{% endif %},
  "setGallerySize": {% if section.settings.section_size == 'preserve_ratio' %}true{% else %}false{% endif %},
  "adaptiveHeight": {% if section.settings.section_size == 'preserve_ratio' %}true{% else %}false{% endif %},
  "transitionEffect": {{ section.settings.carousel_effect | json }},
  "cycleSpeed": {{ section.settings.cycle_speed | times: 1000 | json }}
}
{%- endcapture -%}

<section data-section-id="{{ section.id }}" data-section-type="slideshow" data-section-settings='{{ section_settings }}'>
  {%- comment -%}
  PERFORMANCE NOTE: In Warehouse every images is lazyloaded for performance. We use Lazysizes in JS as a loader. The issue
    is that it increases the time for the "Largest Contentful Paint" metric in various Google tools, as the code has to wait
    for the JS to be loaded before having the opportunity to load the image. As a consequence, we follow the Google best
    practices by pre-loading the first image, so that when the JS is executed, the image may already be here! The code
    is a bit complicated as depending on the settings, different image may be loaded. The code is a bit complex and may
    be simplified to remove some redundant code, but the impact on performance is important so it is worthwhile.
  {%- endcomment -%}

  {%- assign first_block = section.blocks.first -%}
  {%- assign first_desktop_image = first_block.settings.image -%}
  {%- assign first_mobile_image = first_block.settings.mobile_image | default: first_block.settings.image -%}

  {%- if section.settings.section_size == 'preserve_ratio' -%}
    {%- capture desktop_supported_sizes -%}{%- render 'image-size', sizes: '800,900,1000,1100,1200,1300,1400,1600,1800,2000,2200', image: first_desktop_image -%}{%- endcapture -%}
    {%- capture mobile_supported_sizes -%}{%- render 'image-size', sizes: '600,700,800,900,1000,1100,1200', image: first_mobile_image -%}{%- endcapture -%}
    {%- assign desktop_supported_sizes = desktop_supported_sizes | split: ',' -%}
    {%- assign mobile_supported_sizes = mobile_supported_sizes | split: ',' -%}

    {%- capture desktop_imagesrcset -%}
      {%- for size in desktop_supported_sizes -%}
        {%- assign size_descriptor = size | append: 'x' -%}
        {{ first_desktop_image | img_url: size_descriptor }} {{ size }}w{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    {%- endcapture -%}

    {%- capture mobile_imagesrcset -%}
      {%- for size in mobile_supported_sizes -%}
        {%- assign size_descriptor = size | append: 'x' -%}
        {{ first_mobile_image | img_url: size_descriptor }} {{ size }}w{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    {%- endcapture -%}

    <link rel="preload" href="{{ first_mobile_image | img_url: '800x' }}" imagesrcset="{{ mobile_imagesrcset }}" as="image" media="(max-width: 640px)">
    <link rel="preload" href="{{ first_desktop_image | img_url: '1200x' }}" imagesrcset="{{ desktop_imagesrcset }}" as="image" media="(min-width: 641px)">
  {%- else -%}
    {%- capture mobile_size -%}{{ first_mobile_image.width | at_most: 600 }}x{{ first_mobile_image.height | at_most: 800 }}{%- endcapture -%}
    <link rel="preload" href="{{ first_mobile_image | img_url: mobile_size, crop: 'center' }}" as="image" media="(max-width: 640px)">
    <link rel="preload" href="{{ first_desktop_image | img_url: '1200x' }}" imagesrcset="{{ first_desktop_image | img_url: '800x' }} 800w, {{ first_desktop_image | img_url: '1000x' }} 1000w, {{ first_desktop_image | img_url: '1200x' }} 1200w, {{ first_desktop_image | img_url: '1400x' }} 1400w, {{ first_desktop_image | img_url: '1600x' }} 1600w, {{ first_desktop_image | img_url: '1800x' }} 1800w" as="image" media="(min-width: 641px)">
  {%- endif -%}

  <div {% unless section.settings.edge_to_edge %}class="container container--flush"{% endunless %}>
    <div class="slideshow slideshow--{{ section.settings.section_size | replace: '_', '-' }} {% if section.settings.edge_to_edge %}slideshow--edge2edge{% endif %}" style="color: {{ section.blocks.first.settings.text_color }}">
      {%- for block in section.blocks -%}
      {%- if block.type != 'announcement_bar' -%}
        {%- if block.settings.mobile_image -%}
          {%- capture mobile_size -%}{{ block.settings.mobile_image.width | at_most: 600 }}x{{ block.settings.mobile_image.height | at_most: 800 }}{%- endcapture -%}
          {%- capture bgset -%}{{ block.settings.mobile_image | img_url: mobile_size, crop: 'center' }} [--phone] | {{ block.settings.image | img_url: '800x' }} 800w, {{ block.settings.image | img_url: '1000x' }} 1000w, {{ block.settings.image | img_url: '1200x' }} 1200w, {{ block.settings.image | img_url: '1400x' }} 1400w, {{ block.settings.image | img_url: '1600x' }} 1600w, {{ block.settings.image | img_url: '1800x' }} 1800w{%- endcapture -%}
        {%- else -%}
          {%- capture mobile_size -%}{{ block.settings.image.width | at_most: 600 }}x{{ block.settings.image.height | at_most: 800 }}{%- endcapture -%}
          {%- capture bgset -%}{{ block.settings.image | img_url: mobile_size, crop: 'center' }} [--phone] | {{ block.settings.image | img_url: '800x' }} 800w, {{ block.settings.image | img_url: '1000x' }} 1000w, {{ block.settings.image | img_url: '1200x' }} 1200w, {{ block.settings.image | img_url: '1400x' }} 1400w, {{ block.settings.image | img_url: '1600x' }} 1600w, {{ block.settings.image | img_url: '1800x' }} 1800w{%- endcapture -%}
        {%- endif -%}

        {%- capture slide_inner -%}
          <div class="slideshow__slide-inner slideshow__slide-inner--{{ block.settings.content_position | replace: '_', '-' }} lazyload image--fade-in" {% if block.settings.image and section.settings.section_size != 'preserve_ratio' %}data-bgset="{{ bgset }}" data-optimumx="1.4" data-sizes="auto"{% endif %}>
            {%- unless block.settings.image -%}
              {%- capture placeholder -%}{% cycle 'lifestyle-1', 'lifestyle-2' %}{%- endcapture -%}

              {%- if section.settings.section_size == 'preserve_ratio' -%}
                {{- placeholder | placeholder_svg_tag: 'slideshow__image-placeholder' -}}
              {%- else -%}
                <div class="slideshow__placeholder">
                  {{- placeholder | placeholder_svg_tag: 'slideshow__image-placeholder' -}}
                </div>
              {%- endif -%}
            {%- endunless -%}

            {%- if block.settings.image and section.settings.section_size == 'preserve_ratio' -%}
              {%- capture supported_sizes -%}{%- render 'image-size', sizes: '800,900,1000,1100,1200,1300,1400,1600,1800,2000,2200', image: block.settings.image -%}{%- endcapture -%}
              {%- assign image_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

              <div class="aspect-ratio {% if block.settings.mobile_image %}hidden-phone{% endif %}" style="padding-bottom: {{ 100.0 | divided_by: block.settings.image.aspect_ratio }}%">
                <img class="slideshow__image lazyload image--fade-in" alt="{{ block.settings.image.alt | escape }}" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto">

                <noscript>
                  <img src="{{ block.settings.image | img_url: '1200x' }}" alt="{{ block.settings.image.alt | escape }}">
                </noscript>
              </div>

              {%- if block.settings.mobile_image -%}
                {%- capture supported_sizes -%}{%- render 'image-size', sizes: '600,700,800,900,1000,1100,1200', image: block.settings.mobile_image -%}{%- endcapture -%}
                {%- assign image_url = block.settings.mobile_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                <div class="aspect-ratio hidden-tablet-and-up" style="padding-bottom: {{ 100.0 | divided_by: block.settings.mobile_image.aspect_ratio }}%">
                  <img class="slideshow__image lazyload image--fade-in" alt="{{ block.settings.mobile_image.alt | escape }}" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto">

                  <noscript>
                    <img src="{{ block.settings.mobile_image | img_url: '800x' }}" alt="{{ block.settings.mobile_image.alt | escape }}">
                  </noscript>
                </div>
              {%- endif -%}
            {%- endif -%}

            {%- capture slide_content -%}
              {%- if block.settings.title != blank -%}
                <h2 class="slideshow__title heading h1">{{ block.settings.title | escape }}</h2>
              {%- endif -%}

              {%- if block.settings.content != blank -%}
                <p class="slideshow__content">{{ block.settings.content | escape | newline_to_br }}</p>
              {%- endif -%}

              {%- if block.settings.link != blank and block.settings.button_text != blank -%}
                <a href="{{ block.settings.link }}" class="slideshow__button button">{{ block.settings.button_text | escape }}</a>
              {%- endif -%}
            {%- endcapture -%}

            {%- if slide_content != blank -%}
              <div class="slideshow__content-wrapper">
                <div class="container">
                  {{ slide_content }}
                </div>
              </div>
            {%- endif -%}
          </div>

          <style>
            #block-{{ block.id }} {
              color: {{ block.settings.text_color }};
            }

            #block-{{ block.id }} .button {
              color: {{ block.settings.button_text_color }};
              background: {{ block.settings.button_background }};
            }

            #block-{{ block.id }} .button:hover {
              background: {{ block.settings.button_background | color_modify: 'alpha', 0.8 }};
            }

            {%- if block.settings.show_overlay -%}
              #block-{{ block.id }}.slideshow__slide--overlay::before {
                {%- assign overlay_opacity = block.settings.overlay_opacity | divided_by: 100.0 -%}
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0), {{ '#000000' | color_modify: 'alpha', overlay_opacity }});
              }
            {%- endif -%}
          </style>

          {%- if block.settings.image and section.settings.section_size != 'preserve_ratio' -%}
            <noscript>
              <style>
                #block-{{ block.id }} .slideshow__slide-inner {
                  background-image: url({{ block.settings.image | img_url: '1400x' }})
                }
              </style>
            </noscript>
          {%- endif -%}
        {%- endcapture -%}

        {%- if block.settings.link != blank and block.settings.button_text == blank -%}
          <a href="{{ block.settings.link }}" class="slideshow__slide {% if block.settings.show_overlay %}slideshow__slide--overlay{% endif %} {% if forloop.first %}is-selected{% endif %}" id="block-{{ block.id }}" data-block-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
            {{- slide_inner -}}
          </a>
        {%- else -%}
          <div class="slideshow__slide {% if block.settings.show_overlay %}slideshow__slide--overlay{% endif %} {% if forloop.first %}is-selected{% endif %}" id="block-{{ block.id }}" data-block-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
            {{- slide_inner -}}
          </div>
        {%- endif -%}
      {%- endif -%}
      {%- endfor -%}
    </div>
   <div style="color: {{ section.settings.color }}; background-color: {{ section.settings.background }};" class="hidden-tablet discount-wrapper">
       {%for block in section.blocks %} 
         {%if block.type == 'announcement_bar'  %}
           <div class="discount-block hidden-pocket">
             {%if block.settings.url %}
             <a href="{{ block.settings.url }}">
               {% endif %}{{ block.settings.announcement }}
               {%if block.settings.url %}
             </a> {% endif %}
           </div>
         {% endif %} 
       {% endfor %}
    </div>

    <div class="hidden-lap-and-up" style="color: {{ section.settings.color }}; background-color: {{ section.settings.background }};">
        <div data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": false ,"draggable": true, "prevNextButtons": false, "autoPlay": 5000, "fade": true}'>
            {%- for block in section.blocks %} 
                {%- if block.type == 'announcement_bar' -%}
                    <div class="discount-block">
                        {%if block.settings.url %}
                            <a href="{{ block.settings.url }}">
                        {% endif %}
                                {{ block.settings.announcement }}
                        {%if block.settings.url %}
                            </a>
                        {% endif %}
                    </div>
                {%- endif -%} 
            {%- endfor -%}
        </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Slideshow",
  "settings": [
    {
      "type": "checkbox",
      "id": "edge_to_edge",
      "label": "Full-width",
      "default": false
    },
    {
      "type": "select",
      "id": "section_size",
      "label": "Image size",
      "options": [
        {
          "value": "preserve_ratio",
          "label": "Original image ratio"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "preserve_ratio"
    },
    {
      "type": "select",
      "id": "carousel_effect",
      "label": "Transition effect",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ],
      "default": "slide"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Auto rotate between slides",
      "default": true
    },
    {
      "type": "range",
      "id": "cycle_speed",
      "min": 3,
      "max": 8,
      "step": 1,
      "unit": "sec",
      "label": "Change slides every",
      "default": 5
    },
	{
      "type": "header",
      "content": "Announsment Bar"
	}, 
    { 
        "type": "color", 
        "id": "background", 
        "label": "Annousmentbar Background Color", 
        "default": "#000"
    }, 
    { 
        "type": "color", 
        "id": "color",   
        "label": "Annousmentbar Color", 
        "default": "#fff"  
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 600px .jpg recommended"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "750 x 1100px .jpg recommended. If none is set, desktop image will be used."
        },
        {
          "type": "checkbox",
          "id": "show_overlay",
          "label": "Show overlay",
          "info": "Increase text readability on busy images.",
          "default": false
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 30
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Slide title"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content",
          "default": "Tell your story"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "info": "On mobile, content is always centered.",
          "options": [
            {
              "value": "top_left",
              "label": "Top left"
            },
            {
              "value": "top_center",
              "label": "Top center"
            },
            {
              "value": "top_right",
              "label": "Top right"
            },
            {
              "value": "middle_left",
              "label": "Middle left"
            },
            {
              "value": "middle_center",
              "label": "Middle center"
            },
            {
              "value": "middle_right",
              "label": "Middle right"
            },
            {
              "value": "bottom_left",
              "label": "Bottom left"
            },
            {
              "value": "bottom_center",
              "label": "Bottom center"
            },
            {
              "value": "bottom_right",
              "label": "Bottom right"
            }
          ],
          "default": "middle_center"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "Background",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Text",
          "default": "#000000"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Text",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "If no text is set for button, the whole image becomes clickable."
        }
      ]
    },
	{
        "type": "announcement_bar",
        "name": "Announcement",
        "settings": [{ 
                "type": "text", 
                "id": "announcement", 
                "label": "Announcement Text" 
            },
            { 
                "type": "url", 
                "id": "url", 
                "label": "Url" 
            }]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Slideshow",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}